<div class="burger">
  <button type="button" class="burger-header__close-btn">
    <svg class="icon-close" width="32" height="32">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-close"></use>
    </svg>
  </button>
  <div class="burger__header-nav">
    <button type="button" class="burger__go-back-btn visually-hidden">
      <svg class="icon-chevrone" width="24" height="24">
        <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
      </svg>
      Назад
    </button>
    <!-- <button type="button" class="burger__lang-btn">Укр</button> -->
  </div>
  <div class="burger-main__logo"><p>Smart Price</p></div>
  <div class="burger-menu">
    <ul class="burger-sub-menu burger-sub-menu--main">
      <li class="burger-menu__item"><a href="#">Головна</a></li>
      <li class="burger-menu__item"><a href="#">NEW DROP</a></li>
      <li class="burger-menu__item">
        <div class="burger-menu-item__flex-wrapper">
          <a href="#">Каталог</a>
          <svg
            data-burger-icon-chevrone
            data-submenu="catalog"
            class="icon-chevrone icon-chevrone--burger-menu"
            width="24"
            height="24"
          >
            <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
          </svg>
        </div>
      </li>
      <li class="burger-menu__item"><a href="#">Знижки</a></li>
      <li class="burger-menu__item">
        <div class="burger-menu-item__flex-wrapper">
          <a href="#">Сервіси</a
          ><svg
            data-burger-icon-chevrone
            data-submenu="service"
            class="icon-chevrone icon-chevrone--burger-menu"
            width="24"
            height="24"
          >
            <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
          </svg>
        </div>
      </li>
      <li class="burger-menu__item"><a href="#">Увійти</a></li>
      <li class="burger-menu__item">
        <div class="burger-menu-item__flex-wrapper">
          <a href="#">Пошук</a>
          <svg data-burger-icon-chevrone data-submenu="search" class="icon-search--burger-menu" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-search"></use>
          </svg>
        </div>
      </li>
    </ul>
    <ul class="burger-sub-menu burger-sub-menu--catalog">
      <li class="burger-menu__item burger-sub-menu-category__item">
        <div class="burger-menu-item__flex-wrapper">
          <a href="#">Жіноче</a
          ><svg class="icon-chevrone icon-chevrone--catalog" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
          </svg>
        </div>
        <ul class="sub-sub-menu__list">
          <li class="sub-sub-menu__item"><a href="#">Верхній одяг</a></li>
          <li class="sub-sub-menu__item"><a href="#">Костюми</a></li>
          <li class="sub-sub-menu__item"><a href="#">Футболки</a></li>
          <li class="sub-sub-menu__item"><a href="#">Штани</a></li>
          <li class="sub-sub-menu__item"><a href="#">Сукні</a></li>
          <li class="sub-sub-menu__item"><a href="#">Взуття</a></li>
          <li class="sub-sub-menu__item"><a href="#">Спідня білизна</a></li>
        </ul>
      </li>
      <li class="burger-menu__item burger-sub-menu-category__item">
        <div class="burger-menu-item__flex-wrapper">
          <a href="#">Чоловіче</a
          ><svg class="icon-chevrone icon-chevrone--catalog" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
          </svg>
        </div>
        <ul class="sub-sub-menu__list">
          <li class="sub-sub-menu__item"><a href="#">Верхній одяг</a></li>
          <li class="sub-sub-menu__item"><a href="#">Костюми</a></li>
          <li class="sub-sub-menu__item"><a href="#">Футболки</a></li>
          <li class="sub-sub-menu__item"><a href="#">Штани</a></li>
          <li class="sub-sub-menu__item"><a href="#">Сукні</a></li>
          <li class="sub-sub-menu__item"><a href="#">Взуття</a></li>
          <li class="sub-sub-menu__item"><a href="#">Спідня білизна</a></li>
        </ul>
      </li>
      <li class="burger-menu__item burger-sub-menu-category__item">
        <div class="burger-menu-item__flex-wrapper">
          <a href="#">Дитяче</a>
          <svg class="icon-chevrone icon-chevrone--catalog" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
          </svg>
        </div>
        <ul class="sub-sub-menu__list">
          <li class="sub-sub-menu__item"><a href="#">Верхній одяг</a></li>
          <li class="sub-sub-menu__item"><a href="#">Костюми</a></li>
          <li class="sub-sub-menu__item"><a href="#">Футболки</a></li>
          <li class="sub-sub-menu__item"><a href="#">Штани</a></li>
          <li class="sub-sub-menu__item"><a href="#">Сукні</a></li>
          <li class="sub-sub-menu__item"><a href="#">Взуття</a></li>
          <li class="sub-sub-menu__item"><a href="#">Спідня білизна</a></li>
        </ul>
      </li>
      <li class="burger-menu__item"><a href="#">Сумки</a></li>
      <li class="burger-menu__item"><a href="#">Аксесуари</a></li>
      <li class="burger-menu__item"><a href="#">Ювелірні вироби</a></li>
      <li class="burger-menu__item"><a href="#">Smart Socks</a></li>
      <li class="burger-menu__item"><a href="#">Купувати все</a></li>
    </ul>
    <ul class="burger-sub-menu burger-sub-menu--service">
      <li class="burger-menu__item">
        <a href="#">Про нас</a>
      </li>
      <li class="burger-menu__item">
        <a href="#">Контакти</a>
      </li>
      <li class="burger-menu__item">
        <a href="#">Оплата</a>
      </li>
      <li class="burger-menu__item">
        <a href="#">Доставка</a>
      </li>
      <li class="burger-menu__item">
        <a href="#">Повернення</a>
      </li>
      <li class="burger-menu__item">
        <a href="#">Договір публічної оферти</a>
      </li>
      <li class="burger-menu__item">
        <a href="#">Питання та відповіді</a>
      </li>
    </ul>
    <div class="burger-sub-menu burger-sub-menu--search">
      <form action="" class="burger-search-form">
        <input type="text" class="burger-search-form-input" placeholder="Пошук" autofocus maxlength="30" /><button
          type="button"
          class="burger-search-form__btn"
        >
          <svg class="icon-search--burger-menu" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <p class="burger-not-found-notification">Нічого не знайдено</p>
      <ul class="burger-search__list">
        <li class="burger-search__item">
          <div class="burger-search__item-wrap">
            <img src="./img/photo_1.jpg" alt="" />
            <div class="burger-search__item-info">
              <h5>Кардиган PRETTYLITTLETHING</h5>
              <p>Доставка з м. Кропивницький</p>
              <span>275 грн.</span>
            </div>
          </div>
        </li>
        <li class="burger-search__item">
          <div class="burger-search__item-wrap">
            <img src="./img/photo_2.jpg" alt="" />
            <div class="burger-search__item-info">
              <h5>Кардиган PRETTYLITTLETHING</h5>
              <p>Доставка з м. Кропивницький</p>
              <span>275 грн.</span>
            </div>
          </div>
        </li>
        <li class="burger-search__item">
          <div class="burger-search__item-wrap">
            <img src="./img/photo_3.jpg" alt="" />
            <div class="burger-search__item-info">
              <h5>Кардиган PRETTYLITTLETHING</h5>
              <p>Доставка з м. Кропивницький</p>
              <span>275 грн.</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
