<section class="landing responsive-container">
  <div class="landing__header section--padding">
    <div class="landing__header-link-wrap">
      <a href="https://www.instagram.com/smart_sstore/" class="landing__header-link">instagram </a>
      <svg width="32" height="32">
        <use href="./img/icons/symbol-defs-optimized.svg#icon-instagram"></use>
      </svg>
    </div>
    <h1 class="landing__header-h1">SMART PRICE</h1>
    <button class="landing__header-btn">Перейти до покупок</button>
    <h3 class="landing__header-h3">
      <span>Твій</span><br />світ мудрого<br />
      <span>шопінгу</span>
    </h3>
    <p class="landing__header-text">один сайт - всесвіт неймовірних брендів</p>
    <div class="landing__header-image"></div>
  </div>
</section>
