<section class="landing responsive-container">
  <!--landing header section-->
  <div class="landing-header section--padding">
    <div class="landing-header__link-wrap">
      <a href="https://www.instagram.com/smart_sstore/" class="landing-header__link">instagram </a>
      <svg width="32" height="32">
        <use href="./img/icons/symbol-defs-optimized.svg#icon-instagram"></use>
      </svg>
    </div>
    <h1 class="landing-header__h1">SMART PRICE</h1>
    <a class="landing-header__btn" href="./all-products.html">Перейти до покупок</a>
    <h3 class="landing-header__h3">
      <span>Твій</span>світ мудрого<br />
      шопінгу
    </h3>
    <p class="landing-header__text">
      один сайт - <br />
      всесвіт неймовірних брендів
    </p>
    <div class="landing-header__image"></div>
  </div>
  <!--landing-new-drop-->
  <div class="landing-new-drop section--padding">
    <div class="landing-new-drop__btn-plus-swiper-navigation-wrap">
      <div class="landing-new-drop__btn-wrap">
        <button class="landing-new-drop-btn" type="button">NEW DROP</button>
        <button class="landing-sales-btn" type="button">Знижки</button>
      </div>
      <div class="landing-new-drop__swiper-navigation-thumb">
        <svg class="button-prev" width="32" height="32">
          <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
        </svg>
        <svg class="button-next" width="32" height="32">
          <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <!--landing -new-drop-swiper-->
    <div class="landing-new-drop__swiper-thumb">
      <div class="swiper landing-new-drop__swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide gallery-item">
            <div class="gallery-item-label">NEW DROP</div>
            <div class="gallery-item__img-wrap">
              <a href="./product-card.html"><img src="./img/photo_1.jpg" alt="" /></a>
            </div>
            <h5>Кардиган PRETTYLITTLETHING</h5>
            <p>Доставка з м. Кропивницький</p>
            <span class="">275 грн.</span>
            <div class="gallery-item-button-thumb">
              <a href="./payflow.html">Придбати</a>
              <a href="./product-card.html">Деталі</a>
            </div>
          </div>
          <div class="swiper-slide gallery-item">
            <div class="gallery-item-label">NEW DROP</div>
            <div class="gallery-item__img-wrap">
              <a href="./product-card.html"><img src="./img/photo_2.jpg" alt="" /></a>
            </div>
            <h5>Кардиган PRETTYLITTLETHING</h5>
            <p>Доставка з м. Кропивницький</p>
            <span class="">275 грн.</span>
            <div class="gallery-item-button-thumb">
              <a href="./payflow.html">Придбати</a>
              <a href="./product-card.html">Деталі</a>
            </div>
          </div>
          <div class="swiper-slide gallery-item">
            <div class="gallery-item-label">NEW DROP</div>
            <div class="gallery-item__img-wrap">
              <a href="./product-card.html"><img src="./img/photo_3.jpg" alt="" /></a>
            </div>
            <h5>Кардиган PRETTYLITTLETHING</h5>
            <p>Доставка з м. Кропивницький</p>
            <span class="">275 грн.</span>
            <div class="gallery-item-button-thumb">
              <a href="./payflow.html">Придбати</a>
              <a href="./product-card.html">Деталі</a>
            </div>
          </div>
          <div class="swiper-slide gallery-item">
            <div class="gallery-item-label">NEW DROP</div>
            <div class="gallery-item__img-wrap">
              <a href="./product-card.html"><img src="./img/photo_4.jpg" alt="" /></a>
            </div>
            <h5>Кардиган PRETTYLITTLETHING</h5>
            <p>Доставка з м. Кропивницький</p>
            <span class="">275 грн.</span>
            <div class="gallery-item-button-thumb">
              <a href="./payflow.html">Придбати</a>
              <a href="./product-card.html">Деталі</a>
            </div>
          </div>
        </div>
        <!-- If we need navigation -->
        <!-- <div class="landing-new-drop__swiper-navigation-thumb">
          <svg class="button-prev" width="32" height="32">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
          </svg>
          <svg class="button-next" width="32" height="32">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
          </svg> -->
        <!-- <div class="button-prev"></div>
          <div class="button-next"></div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
  <!--marquee-->
  <div class="marquee">
    <ul class="marquee__content">
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
    </ul>
    <ul class="marquee__content" aria-hidden="true">
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span> SMART STORE</span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
      <li><span>мудрий вибір </span></li>
      <li>
        <img src="./img/icons/happy.svg" alt="" />
      </li>
    </ul>
  </div>
  <!--landing-new-drop-call-h3-->
  <div class="landing-new-drop-call">
    <h3>
      Вибирайте душею та тілом за допомогою Sustainable shopping разом з нами, даючи другий шанс одягу світових брендів
      знайти новий будинок.
    </h3>
    <button>Про нас</button>
  </div>
  <!--landing-catalogue-->
  <div class="landing-catalogue">
    <div class="landing-catalog__swiper-navigation-plus-h3-wrap">
      <h3>
        <svg class="icon-star" width="41" height="41">
          <use href="./img/icons/symbol-defs-optimized.svg#icon-Star"></use>
        </svg>
        Каталог
      </h3>
      <div class="landing-catalog__swiper__navigation-thumb">
        <svg class="catalog-button-prev" width="32" height="32">
          <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
        </svg>
        <svg class="catalog-button-next" width="32" height="32">
          <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <!--landing-catalog__swiper-->
    <div class="swiper landing-catalog__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper landing-catalog__swiper-additional-wrapper">
        <!-- Slides -->
        <div class="swiper-slide catalog__gallery-item">
          <img
            src="./img/landing/landing-catalog-mob-1x.jpg"
            srcset="
              ./img/landing/landing-catalog-mob-1x.jpg  162w,
              ./img/landing/landing-catalog-mob-2x.jpg  324w,
              ./img/landing/landing-catalog-desk-1x.jpg 306w,
              ./img/landing/landing-catalog-desk-2x.jpg 712w
            "
            sizes="
            (min-width: 768px) 306px,
            (max-width: 767px) 162px, 100vw
          "
            alt="women"
          />
          <a class="card--styled" href="./all-products.html">Жіноче</a>
        </div>
        <div class="swiper-slide catalog__gallery-item">
          <img
            srcset="
              ./img/landing/landing-catalog-mob2-1x.jpg  162w,
              ./img/landing/landing-catalog-mob2-2x.jpg  324w,
              ./img/landing/landing-catalog-desk2-1x.jpg 306w,
              ./img/landing/landing-catalog-desk2-2x.jpg 712w
            "
            sizes="
        (min-width: 768px) 306px,
        (max-width: 767px) 162px, 100vw
      "
            alt="women"
          />
          <a class="card--styled" href="./all-products.html">Чоловіче</a>
        </div>
        <div class="swiper-slide catalog__gallery-item">
          <img
            srcset="
              ./img/landing/landing-catalog-mob3-1x.jpg  162w,
              ./img/landing/landing-catalog-mob3-2x.jpg  324w,
              ./img/landing/landing-catalog-desk3-1x.jpg 306w,
              ./img/landing/landing-catalog-desk3-2x.jpg 712w
            "
            sizes="
        (min-width: 768px) 306px,
        (max-width: 767px) 162px, 100vw
      "
            alt="women"
          />
          <a class="card--styled" href="./all-products.html">Дитяче</a>
        </div>
        <div class="swiper-slide catalog__gallery-item">
          <img
            srcset="
              ./img/landing/landing-catalog-mob4-1x.jpg  162w,
              ./img/landing/landing-catalog-mob4-2x.jpg  324w,
              ./img/landing/landing-catalog-desk4-1x.jpg 306w,
              ./img/landing/landing-catalog-desk4-2x.jpg 712w
            "
            sizes="
        (min-width: 768px) 306px,
        (max-width: 767px) 162px, 100vw
      "
            alt="women"
          />
          <a class="card--styled" href="./all-products.html">Аксесуари</a>
        </div>
        <div class="swiper-slide catalog__gallery-item">
          <img
            srcset="
              ./img/landing/landing-catalog-mob5-1x.jpg 162w,
              ./img/landing/landing-catalog-mob5-2x.jpg 324w,
              ./img/landing/landing-catalog-desk-1x.jpg 306w,
              ./img/landing/landing-catalog-desk-2x.jpg 712w
            "
            sizes="
        (min-width: 768px) 306px,
        (max-width: 767px) 162px, 100vw
      "
            alt="women"
          />
          <a class="card--styled" href="./all-products.html">Сумки</a>
        </div>
        <div class="swiper-slide catalog__gallery-item">
          <img
            srcset="
              ./img/landing/landing-catalog-mob6-1x.jpg  162w,
              ./img/landing/landing-catalog-mob6-2x.jpg  324w,
              ./img/landing/landing-catalog-desk2-1x.jpg 306w,
              ./img/landing/landing-catalog-desk2-2x.jpg 712w
            "
            sizes="
        (min-width: 768px) 306px,
        (max-width: 767px) 162px, 100vw
      "
            alt="women"
          />
          <a class="card--styled" href="./all-products.html">Ювелірні вироби</a>
        </div>
      </div>
    </div>
  </div>
  <!--landing-call-second-->
  <div class="landing-call-second">
    <div class="landing-call-second__text-wrap">
      <h2>Наш товар розходиться як "гарячі пиріжки"</h2>
      <p>Тому, натиснувши кнопку "Придбати" у вас буде лише 10 хвилин, щоб завершити операцію оплати. Не зволікайте!</p>
    </div>
    <div class="landing-circle">
      <div class="landing-circle__text">
        <p>let’s go ✦ let’s go ✦ let’s go ✦ let’s go ✦</p>
      </div>
    </div>
  </div>
  <!--landing-feedback-->
  <div class="landing-feedback section--padding">
    <h2>Контакти</h2>
    <p>
      Ми раді відповісти на запитання та допомогти вам із замовленнями. Просто заповніть форму нижче, і ми швидко
      зв’яжемося!
    </p>
    <div class="landing-fedback__form-wrap">
      <form class="landing-fedback__form" action="">
        <label>Повне імʼя<input class="form-input" type="text" placeholder="ПІБ" /></label
        ><label>Телефон<input class="form-input" type="number" placeholder="+380(хх)ххххххх " /></label
        ><label>Пошта <span>*</span><input class="form-input" type="email" placeholder="example@gmail.com" /></label
        ><label>Номер замовлення<input class="form-input" type="number" placeholder="Введіть номер замовлення" /></label
        ><label
          >Коментар/Питання <span>*</span
          ><textarea class="form-input" placeholder="Напишіть тут своє питання або коментар" rows="5"></textarea>
        </label>
        <button class="btn" type="submit">Відправити форму</button>
      </form>
      <div class="landing-feedback__contacts">
        <ul class="landing-feedback__contacts-list">
          <li>
            <p>соціальні мережі</p>
            <a href="https://www.instagram.com/smart_sstore/">
              <svg width="24" height="24">
                <use href="./img/icons/symbol-defs-optimized.svg#icon-facebook"></use>
              </svg>
            </a>
            <a href="https://www.instagram.com/smart_sstore/">
              <svg width="24" height="24">
                <use href="./img/icons/symbol-defs-optimized.svg#icon-telegram"></use>
              </svg>
            </a>
            <a href="https://www.instagram.com/smart_sstore/">
              <svg width="24" height="24">
                <use href="./img/icons/symbol-defs-optimized.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <p>електронна пошта</p>
            <p>support@sstore.in.ua</p>
          </li>
          <li>
            <p>телефон</p>
            <p>+380 68 808 16 10</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
