// Основной шрифт и цвет

body {
  font-family: $primaryFont;
  font-size: 16px;
  font-weight: 500;
  color: getColor('black');
  background-color: getColor('background');
  min-height: 100vh;

  @include desk {
    height: 100vh;
  }
}

// Сброс отступов

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// сброс стиля у ссылки
a {
  color: inherit;
  text-decoration: none;
}

// сброс стиля у списка
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// сброс отступа у картинок и базовая отзывчивость
img {
  display: block;
  max-width: 100%;
  height: auto;
}
