// fonts
$primaryFont: 'Exo 2', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

//container
$minWidthContainer: 375px;
$maxWidthContainer: 1440px;
$maxWidth: 1920px;
// $maxWidthContainer: 1170px;
$responsiveType: 2;

//colors
$colors: (
  'black': #0e1012,
  'white': #ffffff,
  'background': #ffffff,
  'gray-border': #e1e4e8,
  'gray-icon': #c2c6cb,
  'gray-input': #8a8e97,
  'gray-body': #595e66,
  'gray-header': #24272c,
  'yellow': #fff326,
  'yellow-bg': #fffef4,
  'red': #eb5757,
  'green': #14b859,
);

$cubic: cubic-bezier(0.465, 0.183, 0.153, 0.946);
$trans-time: 150ms;

@function getColor($key) {
  @return map-get($colors, $key);
}
