<footer class="footer responsive-container">
  <div class="wrapper">
    <div class="footer-logo">
      <img src="./img/icons/logo-desk-2x.png" class="footer-logo__img" />
    </div>
    <ul class="footer-icons__list">
      <li class="footer-icons__item">
        <a href="https://www.instagram.com/smart_sstore/" target="_blank">
          <div class="footer-icons__wrap">
            <svg class="footer-icon__instagram" width="32" height="32">
              <use
                href="./img/icons/symbol-defs-optimized.svg#icon-instagram"
              ></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="footer-icons__item">
        <a href="https://t.me/ua_smart_store" target="_blank">
          <div class="footer-icons__wrap">
            <svg class="footer-icon__telegram" width="32" height="32">
              <use
                href="./img/icons/symbol-defs-optimized.svg#icon-telegram"
              ></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="footer-icons__item">
        <a href="https://www.facebook.com/SmartStore19" target="_blank">
          <div class="footer-icons__wrap">
            <svg class="footer-icon__facebook" width="32" height="32">
              <use
                href="./img/icons/symbol-defs-optimized.svg#icon-facebook"
              ></use>
            </svg>
          </div>
        </a>
      </li>
    </ul>
    <ul class="newdrop">
      <li class="newdrop__item">
        <a class="decorative-link" href="#">NEW DROP</a>
      </li>
      <li class="newdrop__item">
        <a class="decorative-link" href="#">Знижки</a>
      </li>
      <li class="newdrop__item">
        <a href="#">Аукціон(soon)</a>
      </li>
    </ul>
    <ul class="assortment-list">
      <li class="assortment-list__item">
        <a class="decorative-link" href="#">Жіноче</a>
      </li>
      <li class="assortment-list__item">
        <a class="decorative-link" href="#">Чоловіче</a>
      </li>
      <li class="assortment-list__item">
        <a class="decorative-link" href="#">Дитяче</a>
      </li>
      <li class="assortment-list__item">
        <a class="decorative-link" href="#">Сумки</a>
      </li>
      <li class="assortment-list__item">
        <a class="decorative-link" href="#">Аксесуари</a>
      </li>
      <li class="assortment-list__item">
        <a class="decorative-link" href="#">Ювелірні вироби</a>
      </li>
      <li class="assortment-list__item">
        <a class="decorative-link" href="#">Купувати все</a>
      </li>
    </ul>
    <ul class="about-list">
      <li class="about-list__item">
        <a class="decorative-link" href="#">Про нас</a>
      </li>
      <li class="about-list__item">
        <a class="decorative-link" href="#">Контакти</a>
      </li>
      <li class="about-list__item">
        <a class="decorative-link" href="#">Оплата</a>
      </li>
      <li class="about-list__item">
        <a class="decorative-link" href="#">Доставка</a>
      </li>
      <li class="about-list__item">
        <a class="decorative-link" href="#">Повернення</a>
      </li>
      <li class="about-list__item">
        <a class="decorative-link" href="#">Договір публічної оферти</a>
      </li>
      <li class="about-list__item">
        <a class="decorative-link" href="#">Питання та відповіді</a>
      </li>
    </ul>
    <ul class="support-list">
      <li class="support-list__item">Copyright © 2022 Smart Price</li>
      <li class="support-list__item">
        <a
          class="support-list__mail decorative-link"
          href="mailto:support@sstore.in.ua"
          >support@sstore.in.ua</a
        >
      </li>
    </ul>
  </div>
</footer>
