// .create-account__container {
//   position: relative;
// }
// .create-account__wrapper {
//   padding: 40px 16px;
//   @include desk {
//     background-color: getColor('white');
//     padding: 40px;
//     border: 1px solid #0e1012;
//     max-width: 416px;
//     height: auto;
//     margin-left: 72px;
//     margin-right: 72px;
//     margin-bottom: 62px;
//   }
// }

.login-form__paragraph-text--modifier {
  margin: 32px 0px;
}

.create-account__header {
  text-align: center;
  margin-bottom: 40px;
  @include font(700, 32px, 40px, null);
}

.create-account__btn {
  width: 100%;
  height: 48px;
  padding: 10px 16px;
  background-color: getColor('black');
  color: getColor('white');
  @include font(500, 16px, 24px, null);
  border: 1px solid #0e1012;
  opacity: 0.5;

  @include desk {
    width: 100%;
    @include font(500, 16px, 16px, null);
  }
}

.create-account__btn--success {
  opacity: 1;
}

.create-account__confirmation-btn {
  width: 100%;
  height: 44px;
  padding: 10px 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  @include font(500, 16px, 24px, null);

  @include desk {
    width: 100%;
    height: 36px;
    @include font(500, 16px, 24px, null);
  }
}

.auth__text--create-account-margin {
  @include desk {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.login-form__password-success {
  color: getColor('green');
  font-family: $secondaryFont;
  @include font(400, 12px, 20px, null);

  margin-top: 4px;
  margin-bottom: 8px;
  visibility: hidden;
}

.login-form__password-success--visible {
  visibility: visible;
}

.create-account__form {
  & input {
    width: 100%;
    height: 48px;

    @include desk {
      width: 100%;
    }
  }
  & > input {
    margin-bottom: 24px;
  }
}

.create-account-options__item {
  width: 100%;
}
