.change-password__verification-wrapper {
  padding: 40px 16px;

  @include desk {
    padding: 0 0 0 72px;
    width: 416px;

    & h3,
    p {
      text-align: left;
    }

    & input,
    button {
      width: 100%;
    }
  }
}

.auth__text--verification {
  @include desk {
    margin-bottom: 37px;
  }
}
