.change-password__verification-wrapper {
  padding: 40px 16px;
  input {
    width: 100%;
    margin-bottom: 32px;
  }

  @include desk {
    border: 1px solid #0e1012;
    background-color: getColor('white');
    padding: 40px;
    max-width: 475px;
    margin-left: 72px;

    & h3,
    p {
      text-align: left;
    }

    & input,
    button {
      width: 100%;
    }
  }
}

.auth__text--verification {
  @include desk {
    margin-bottom: 37px;
  }
}
