.change-password__verification-wrapper {
  padding: 40px 16px;
  input {
    width: 100%;
    margin-bottom: 32px;
  }

  @include desk {
    padding: 0;
    width: 416px;
    margin-left: 72px;

    & h3,
    p {
      text-align: left;
    }

    & input,
    button {
      width: 100%;
    }
  }
}

.auth__text--verification {
  @include desk {
    margin-bottom: 37px;
  }
}
