// .auth {
//   @include desk {
//     padding: 0px;
//     position: relative;
//     height: 780px;
//   }
// }

.background-wrapper {
  @include desk {
    min-height: 780px;
    background-image: url('../img/images/login-background-1x.jpg');
    background-position: left 622px top;
    background-repeat: no-repeat;
    padding-bottom: 62px;
  }
}

.auth__text {
  margin-top: 24px;
  margin-bottom: 12px;
  margin-left: 16px;
  display: inline-flex;
  align-items: center;

  @include desk {
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 72px;
    justify-content: center;
  }
}

.auth__text-main {
  @include font(400, 16px, 24px, null);

  @include desk {
    @include font(400, 14px, 20px, null);
  }
}

.arrow-left {
  margin-right: 4px;
  @include desk {
    display: none;
  }
}

.arrow-right {
  display: none;
  @include desk {
    display: block;
    margin-left: 4px;
    margin-right: 4px;
  }
}

.auth__text-login {
  display: none;

  @include desk {
    @include font(400, 14px, 20px, null);
    display: block;
    color: getColor('gray-body');
  }
}

.auth-wrapper {
  @include desk {
    max-width: 856px;
    display: flex;
    border: 1px solid #0e1012;
    margin-left: 72px;
    margin-right: 72px;
  }
}
.auth-wrapper__login--thumb {
  background-color: getColor('yellow-bg');
  @include desk {
    width: 50%;
    border-right: 1px solid #0e1012;
    margin-left: 0;
    margin-right: 0;
  }
}
.auth-wrapper__login {
  padding: 40px 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  @include desk {
    max-width: 100%;
    padding: 40px;
  }
}

.flash-messages {
  text-align: center;
  padding: 10px 0 10px 0;
}

.login-form input {
  width: 100%;
  // max-width: 343px;
  // min-width: 343px;
  height: 48px;

  @include desk {
    // min-width: 348px;
    width: 100%;
  }
}

.login-form__phone {
  margin-top: 40px;
  margin-bottom: 24px;
}

.login-form__btn {
  // min-width: 343px;
  width: 100%;
  height: 48px;
  padding: 0px;
  background-color: getColor('black');
  color: getColor('white');
  @include font(500, 16px, 16px, null);
  opacity: 0.5;
  border: 1px solid #0e1012;

  @include desk {
    // min-width: 348px;
    width: 100%;
  }
}

.login-form__heading {
  text-align: center;
  @include font(700, 28px, 36px, null);

  @include desk {
    @include font(700, 32px, 40px, null);
  }
}

.login-form__heading {
  margin-left: inherit;
  margin-right: auto;
}

.login-form__password-thumb {
  position: relative;
}

.login-form__password-thumb > .eye-open {
  position: absolute;
  top: 12px;
  right: 12px;
}

.login-form__paragraph-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 0px;

  &::before {
    margin-right: 8px;
  }

  &::after {
    margin-left: 8px;
  }
}

.login-form__paragraph-text::before,
.login-form__paragraph-text::after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid #c2c6cb;
}

.login-form__password-error {
  color: getColor('red');
  font-family: $secondaryFont;
  @include font(400, 12px, 20px, null);

  margin-top: 4px;
  margin-bottom: 8px;
  visibility: hidden;
}

.login-form__password-error--visible {
  visibility: visible;
}

.auth-options {
  text-align: center;
  line-height: 1;

  @include desk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.auth-options__item {
  height: 40px;
  border: 1px solid #e1e4e8;
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    margin-right: 12px;
  }

  &:first-child {
    margin-bottom: 16px;
  }

  @include desk {
    // min-width: 347px;
    width: 100%;
    flex: 0 1 auto;
  }
}

.auth__forget-password-btn {
  @include font(500, 16px, 16px, null);
  margin: 8px auto 0px;
  padding: 10px 16px;
}

.auth-wrapper__newbee {
  text-align: center;
  padding: 40px 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  & .newbee-header {
    margin-bottom: 24px;
    @include desk {
      margin-bottom: 40px;
    }
  }

  & .newbee-text_first {
    margin-bottom: 16px;

    @include desk {
      margin-bottom: 24px;
    }
  }

  & .newbee-text_second {
    margin-bottom: 32px;
  }

  @include desk {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 50%;
    padding: 40px 40px;
    background-color: getColor('white');
  }
}

.newbee-header {
  @include font(700, 28px, 36px, null);

  @include desk {
    @include font(700, 32px, 40px, null);
  }
}

.newbee-text_first {
  color: getColor('gray-body');
  @include font(700, 16px, 24px, null);
}

.newbee-text_second {
  font-family: $secondaryFont;
  @include font(400, 16px, 24px, null);
}

.newbee-link {
  width: 100%;
  // width: 348px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0e1012;

  @include font(500, 16px, 24px, null);

  @include desk {
    @include font(500, 16px, 16px, null);
  }
}
