<section class="services responsive-container">
  <!--bread crumbs-->
  <div class="bread-crumbs--account">
    <svg class="arrow-left" width="24" height="24">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
    </svg>
    <p>Головна</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="bread-crumbs--account__desktop-text">Сервіс</p>
  </div>
  <!--account__choose-categories-btn-->
  <div data-dropdown class="account__categories-dropdown-wrap">
    <button data-dropdown-btn class="account__choose-categories-btn">
      <span>Сервіси: Про нас</span>
      <svg class="icon-chevrone-down--account" width="16" height="16">
        <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
      </svg>
    </button>
    <!--account__categories-dropdowm-menu-->
    <ul class="account__categories-dropdown-menu">
      <li>
        <a data-account-category-button="services-about" class="account__category-link active" href="about.html"
          >Про нас</a
        >
      </li>
      <!-- <li><a data-account-category-button="service__payment" class="account__category-link" href="#">Контакти</a></li> -->
      <li>
        <a data-account-category-button="service__payment" class="account__category-link" href="payment.html">Оплата</a>
      </li>
      <li>
        <a data-account-category-button="service__delivery" class="account__category-link" href="delivery.html"
          >Доставка</a
        >
      </li>
      <li>
        <a data-account-category-button="service__refund" class="account__category-link" href="returns.html"
          >Повернення</a
        >
      </li>
      <li>
        <a data-account-category-button="service__agreement" class="account__category-link" href="offer.html"
          >Договір публічної оферти</a
        >
      </li>
      <li>
        <a data-account-category-button="service__questions" class="account__category-link" href="faq.html"
          >Питання та відповіді</a
        >
      </li>
    </ul>
  </div>
  <!--services-about-->
  <div data-account-category="services-about" class="service__about-content-wrap">
    <div class="service__about-greetings-wrap section--padding">
      <h3 class="service__about-greetings-header-mob">Вітаємо у світі мудрого шопінгу від SMART STORE online</h3>
      <h2 class="service__about-greetings-header-desk">
        <svg class="icon-star" width="76" height="76">
          <use href="./img/icons/symbol-defs-optimized.svg#icon-Star"></use>
        </svg>
        Вітаємо у світі мудрого шопінгу<br />
        від SMART STORE online
      </h2>
      <div class="service__about-greetings-bg"></div>
    </div>
    <div class="marquee">
      <ul class="marquee__content">
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
      </ul>
      <ul class="marquee__content" aria-hidden="true">
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
      </ul>
    </div>
    <ul class="service__about-purposes-list section--padding">
      <li class="service__about-purposes-item">
        <div class="service__about-purposes-item-text">
          <h3>
            <svg class="icon-star" width="41" height="41">
              <use href="./img/icons/symbol-defs-optimized.svg#icon-Star"></use>
            </svg>
            Наша мета
          </h3>
          <p>Метою нашої роботи є збереження навколишнього середовища та якісні покупки, доступні кожному!</p>
          <br />
          <p>Тому ми пропонуємо Вам зануритись у <b>Sustainable shopping.</b></p>
        </div>
        <div class="service__about-purpose-item-img-wrap">
          <picture>
            <source
              srcset="
                ./img/services/service-about-purpose1-1x-mob.jpg 1x,
                ./img/services/service-about-purpose1-2x-mob.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./img/services/service-about-purpose1-1x-desk.jpg 1x,
                ./img/services/service-about-purpose1-2x-desk.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./img/services/service-about-purpose1-1x-desk.jpg" alt="woman is looking over the jacket" />
          </picture>
        </div>
      </li>
      <li class="service__about-purposes-item">
        <div class="service__about-purposes-item-text">
          <h3>
            <svg class="icon-star" width="41" height="41">
              <use href="./img/icons/symbol-defs-optimized.svg#icon-Star"></use>
            </svg>
            Що таке Sustainable shopping?
          </h3>
          <p>
            Це засіб, за допомогою якого Ви споживаєте товари і послуги, з урахуванням найбільш ефективних і вигідних
            варіантів для всіх видів і систем на планеті.
          </p>
          <br />
          <p>
            <b>Sustainable</b> споживач знає, що Земля - це одна гігантська екосистема, що складається з екосистем, які
            покладаються один на одного і залежать один від одного.
          </p>
        </div>
        <div class="service__about-purpose-item-img-wrap">
          <picture>
            <source
              srcset="
                ./img/services/service-about-purpose2-1x-desk.jpg 1x,
                ./img/services/service-about-purpose2-2x-desk.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/services/service-about-purpose2-1x-mob.jpg 1x,
                ./img/services/service-about-purpose2-2x-mob.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/services/service-about-purpose2-1x-desk.jpg" alt="man is looking over the box" />
          </picture>
        </div>
      </li>
      <li class="service__about-purposes-item">
        <div class="service__about-purposes-item-text">
          <h3>
            <svg class="icon-star" width="41" height="41">
              <use href="./img/icons/symbol-defs-optimized.svg#icon-Star"></use>
            </svg>
            Купуючи у нас
          </h3>
          <p>
            Ви даєте речам друге життя, тим самим Ви не тільки заощаджуєте, а й допомагаєте планеті не загрузнути в
            перевиробництві.
          </p>
        </div>
        <div class="service__about-purpose-item-img-wrap">
          <picture>
            <source
              srcset="
                ./img/services/service-about-purpose3-1x-mob.jpg 1x,
                ./img/services/service-about-purpose3-2x-mob.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./img/services/service-about-purpose3-1x-desk.jpg 1x,
                ./img/services/service-about-purpose3-2x-desk.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./img/services/service-about-purpose3-1x-desk.jpg" alt="bunch of hangers" />
          </picture>
        </div>
      </li>
    </ul>
    <div class="service__about-unique-shopping-wrap">
      <div class="service__about-unique-shopping-content section--padding">
        <div class="service__about-unique-shopping-content-text">
          <h2>Унікальний онлайн шопінг розпочався у</h2>
          <p>Він об’єднує тисячі однодумців зі всіх куточків нашої країни.</p>
        </div>
        <div class="service__about-unique-shopping-content-span-wrap">
          <span>2020</span>
          <p>році</p>
          <img src="./img/icons/happy.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="service__about-like-minded-people-wrap">
      <div class="service__about-like-minded-people-content section--padding">
        <div class="service__about-like-minded-people-theses">
          <h3>Однодумців, які</h3>
          <ul>
            <li>Дають другий шанс вживаним речам</li>
            <li>Йдуть нога в ногу з часом та трендами</li>
            <li>Дбають про майбутнє!</li>
          </ul>
        </div>
        <div class="service__about-like-minded-people-description">
          <h2>Створюємо красу разом!</h2>
          <p>У нас Ви можете зібрати образ із речей, які були у використанні для будь-якої події.</p>
        </div>
      </div>
    </div>
    <div class="service__about-swiper-thumb">
      <div class="swiper service__about-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper service__about-slider-wrapper">
          <!-- Slides -->
          <div class="swiper-slide service__about-slide">
            <div class="service__about-slide-img-wrap">
              <div class="service__about-slide-img-inner-wrap">
                <img
                  srcset="./img/services/slider/slider1-1x.jpg 1x, ./img/services/slider/slider1-2x.jpg 2x"
                  src="./img/services/slider/slider1-1x.jpg"
                  alt="chain"
                />
                <p>
                  Мій закон – не сперечатися з вітром, він знає, куди дме, ми ж, стилісти, маємо лише точно визначити
                  його напрямок
                </p>
              </div>
            </div>
            <div class="service__about-slide-h2-wrapper">
              <h2>Можна знайти вінтажні предмети декору</h2>
              <hr size="1px" color="black" class="hr-service" />
            </div>
          </div>
          <div class="swiper-slide service__about-slide">
            <div class="service__about-slide-img-wrap">
              <div class="service__about-slide-img-inner-wrap">
                <img
                  srcset="./img/services/slider/slider2-1x.jpg 1x, ./img/services/slider/slider2-2x.jpg 2x"
                  src="./img/services/slider/slider2-1x.jpg"
                  alt="chain"
                />
                <p>
                  Дешева пара взуття – погана економія. Не заощаджуйте на головному: взуття – основа вашого гардеробу
                </p>
              </div>
            </div>
            <div class="service__about-slide-h2-wrapper">
              <h2>Взуття, як у кумирів</h2>
              <hr size="1px" color="black" class="hr-service" />
            </div>
          </div>
          <div class="swiper-slide service__about-slide">
            <div class="service__about-slide-img-wrap">
              <div class="service__about-slide-img-inner-wrap">
                <img
                  srcset="./img/services/slider/slider3-1x.jpg 1x, ./img/services/slider/slider3-2x.jpg 2x"
                  src="./img/services/slider/slider3-1x.jpg"
                  alt="chain"
                />
                <p>Бути елегантною – не означає впадати у вічі, це означає – врізатися в пам'ять</p>
              </div>
            </div>
            <div class="service__about-slide-h2-wrapper">
              <h2>Або одяг про який мріяли роками</h2>
              <hr size="1px" color="black" class="hr-service" />
            </div>
          </div>
          <div class="swiper-slide service__about-slide">
            <div class="service__about-slide-img-wrap">
              <div class="service__about-slide-img-inner-wrap">
                <img
                  srcset="./img/services/slider/slider4-1x.jpg 1x, ./img/services/slider/slider4-2x.jpg 2x"
                  src="./img/services/slider/slider4-1x.jpg"
                  alt="chain"
                />
                <p>
                  Найкращий одяг для жінки - це обійми чоловіка, що любить її. Але для тих, хто позбавлений такого
                  щастя, є я.
                </p>
              </div>
            </div>
            <div class="service__about-slide-h2-wrapper">
              <h2>А ще світові бренди із закритих показів</h2>
              <hr size="1px" color="black" class="hr-service" />
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="service__swiper-pagination"></div>
      </div>
    </div>
    <div class="service__about-more-about-us section--padding">
      <h2>Ще трішки про нас</h2>
      <ul>
        <li>
          <p>Оновлення товару відбувається майже щоденно, задоволеним залишеться кожен.</p>
        </li>
        <li>
          <p>Ми закохані в свою справу та завжди поруч!</p>
        </li>
        <li>
          <p>
            Наш товар розходиться як "гарячі пиріжки" тому, натиснувши кнопку "Придбати" у вас буде лише 10 хвилин, щоб
            завершити операцію оплати. Не зволікайте!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
