<section class="services responsive-container">
  <!--bread crumbs-->
  <div class="bread-crumbs--account">
    <svg class="arrow-left" width="24" height="24">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
    </svg>
    <p>Головна</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="bread-crumbs--account__desktop-text">Сервіс</p>
  </div>
  <!--account__choose-categories-btn-->
  <div data-dropdown class="account__categories-dropdown-wrap">
    <button data-dropdown-btn class="account__choose-categories-btn">
      <span>Сервіси: Доставка</span>
      <svg class="icon-chevrone-down--account" width="16" height="16">
        <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
      </svg>
    </button>
    <!--account__categories-dropdowm-menu-->
    <ul class="account__categories-dropdown-menu">
      <li>
        <a data-account-category-button="services-about" class="account__category-link" href="about.html">Про нас</a>
      </li>
      <!-- <li><a data-account-category-button="service__payment" class="account__category-link" href="#">Контакти</a></li> -->
      <li>
        <a data-account-category-button="service__payment" class="account__category-link" href="payment.html">Оплата</a>
      </li>
      <li>
        <a data-account-category-button="service__delivery" class="account__category-link active" href="delivery.html"
          >Доставка</a
        >
      </li>
      <li>
        <a data-account-category-button="service__refund" class="account__category-link" href="returns.html"
          >Повернення</a
        >
      </li>
      <li>
        <a data-account-category-button="service__agreement" class="account__category-link" href="offer.html"
          >Договір публічної оферти</a
        >
      </li>
      <li>
        <a data-account-category-button="service__questions" class="account__category-link" href="faq.html"
          >Питання та відповіді</a
        >
      </li>
    </ul>
  </div>
  <!--service__delivery-->
  <div data-account-category="service__delivery" class="service__delivery-content-wrap">
    <h1>Доставка</h1>
    <ul class="service__payment-text-wrap">
      <li>
        <p>Ми здійснюємо доставку товару кур’єрською службою <b>«Нова Пошта».</b></p>
      </li>
      <li>
        <p>
          Всі відправлення відбуваються кожного <b>понеділка</b> та <b>четверга.</b> Замовлення зроблені з понеділка по
          середу – відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
        </p>
      </li>
      <li>
        <p>Вартість послуг кур’єрською службою сплачує <b>Покупець.</b></p>
      </li>
      <li>
        <p>
          При сумі замовлення від <b>500 грн.</b>, вартість послуг кур’єрською службою сплачує <b>Продавець</b><br />
          - за умови, що замовлені товари з одного міста, а замовлення зроблене в період між днями відправлення;<br />
          - за умови відправки з відділення у відділення, або з відділення у почтомат.
        </p>
      </li>
      <li>
        <p>
          Оціночна вартість посилок – <b>мінімальна</b>, згідно тарифів кур’єрської служби «Нова Пошта» на день
          відправлення. <br />
          Оціночну вартість посилки можливо змінити <b>за бажанням Покупця</b> – залишивши коментар на сайті, або через
          запит до онлайн консультанта у Телеграмі.<br />
          Пакування здійснюється згідно з правил кур’єрської служби «Нова Пошта».
        </p>
      </li>
    </ul>
  </div>
</section>
