<section class="services responsive-container">
  <!--bread crumbs-->
  <div class="bread-crumbs--account">
    <svg class="arrow-left" width="24" height="24">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
    </svg>
    <p>Головна</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="bread-crumbs--account__desktop-text">Сервіс</p>
  </div>
  <!--account__choose-categories-btn-->
  <div data-dropdown class="account__categories-dropdown-wrap">
    <button data-dropdown-btn class="account__choose-categories-btn">
      <span>Сервіси: Договір публічної оферти</span>
      <svg class="icon-chevrone-down--account" width="16" height="16">
        <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
      </svg>
    </button>
    <!--account__categories-dropdowm-menu-->
    <ul class="account__categories-dropdown-menu">
      <li>
        <a data-account-category-button="services-about" class="account__category-link" href="about.html">Про нас</a>
      </li>
      <!-- <li><a data-account-category-button="service__payment" class="account__category-link" href="#">Контакти</a></li> -->
      <li>
        <a data-account-category-button="service__payment" class="account__category-link" href="payment.html">Оплата</a>
      </li>
      <li>
        <a data-account-category-button="service__delivery" class="account__category-link" href="delivery.html"
          >Доставка</a
        >
      </li>
      <li>
        <a data-account-category-button="service__refund" class="account__category-link" href="returns.html"
          >Повернення</a
        >
      </li>
      <li>
        <a data-account-category-button="service__agreement" class="account__category-link active" href="offer.html"
          >Договір публічної оферти</a
        >
      </li>
      <li>
        <a data-account-category-button="service__questions" class="account__category-link" href="faq.html"
          >Питання та відповіді</a
        >
      </li>
    </ul>
  </div>
  <!--service__questions-->
  <div data-account-category="service__questions" class="service__questions-answers-content-wrap">
    <h1>Питання та відповіді</h1>
    <ul id="item-details" class="item__details">
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Які способи доставки є в інтернет-магазині Smart Price?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>
              Доставка замовлень нашого інтернет-магазину здійснюється за допомогою сервісу “Нова пошта” на обране вами
              відділення.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Яка вартість та терміни доставки?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Як я можу оплатити товар?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Чому я можу купити за раз лише один товар?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Що робити, якщо товар не підійшов?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Чи можу я вернути/обміняти товар, який мені не підійшов?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Як я можу повернути товар?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Як я отримую грошові кошти за повернення товару?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Який графік роботи інтернет-магазину?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Що таке NEW DROP?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Чи можу я отримати додаткову знижку на товар? Чи є у вас товари зі знижкою?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
