<section class="services responsive-container">
  <!--bread crumbs-->
  <div class="bread-crumbs--account">
    <svg class="arrow-left" width="24" height="24">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
    </svg>
    <p>Головна</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="bread-crumbs--account__desktop-text">Сервіс</p>
  </div>
  <!--account__choose-categories-btn-->
  <div data-dropdown class="account__categories-dropdown-wrap">
    <button data-dropdown-btn class="account__choose-categories-btn">
      <span>Сервіси: Договір публічної оферти</span>
      <svg class="icon-chevrone-down--account" width="16" height="16">
        <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
      </svg>
    </button>
    <!--account__categories-dropdowm-menu-->
    <ul class="account__categories-dropdown-menu">
      <li>
        <a data-account-category-button="services-about" class="account__category-link" href="about.html">Про нас</a>
      </li>
      <!-- <li><a data-account-category-button="service__payment" class="account__category-link" href="#">Контакти</a></li> -->
      <li>
        <a data-account-category-button="service__payment" class="account__category-link" href="payment.html">Оплата</a>
      </li>
      <li>
        <a data-account-category-button="service__delivery" class="account__category-link" href="delivery.html"
          >Доставка</a
        >
      </li>
      <li>
        <a data-account-category-button="service__refund" class="account__category-link" href="returns.html"
          >Повернення</a
        >
      </li>
      <li>
        <a data-account-category-button="service__agreement" class="account__category-link active" href="offer.html"
          >Договір публічної оферти</a
        >
      </li>
      <li>
        <a data-account-category-button="service__questions" class="account__category-link" href="faq.html"
          >Питання та відповіді</a
        >
      </li>
    </ul>
  </div>
  <!--service__agreement-->
  <div data-account-category="service__agreement" class="service__agreement-content-wrap">
    <h1>Договір публічної оферти</h1>
    <p>
      Інтернет-магазин “SMART-STORE”, розташований на доменному імені www.online-smart.store та в Телеграм – каналі
      https://t.me/ua_smart_store, яким володіє ФОП Кордюмова Дар'я, іменований надалі «Продавець», публікує Публічний
      договір про продаж Товару дистанційним способом.
    </p>
    <ul class="service__agreement-text-wrap">
      <ul class="service__agreement-sublist">
        <h3>1. ВИЗНАЧЕННЯ ТЕРМІНІВ</h3>
        <p>
          1.1. Публічний договір - публічна пропозиція Продавця, адресована невизначеному колу осіб, укласти з Продавцем
          договір купівлі-продажу товару дистанційним способом (далі - «Договір») на умовах, що містяться в цій Оферті.
        </p>
        <p>
          1.2. Замовлення Товару - позиції зазначені Покупцем з асортименту Товару, запропонованого до продажу, при
          дистанційному оформленні заявки на придбання Товару
        </p>
        <p>
          1.3. Товар - непродовольчі товари народного споживання (одяг, взуття, шкіргалантерея, аксесуари тощо), що на
          умовах даного Договору пропонуються до продажу за допомогою засобів дистанційного зв’язку
        </p>
        <p>1.4. Продавець - Інтернет-магазин “SMART-STORE”розміщений на веб-сайті: online-smart.store</p>
        <p>
          Місцезнаходження, контактні дані та режим роботи Продавця зазначені у розділі «Информация о продавце» на
          веб-сайті: online-smart.store
        </p>
        <p>
          1.5. Покупець - будь-яка дієздатна особа, що в порядку, передбаченому даним Договором, за власним
          волевиявленням повністю прийняла (акцептувала) всі його умови без виключення.
        </p>
        <p>
          1.6. Отримувач Товару - будь-яка дієздатна особа, що визначена Покупцем у відповідному Замовленні на Товар в
          якості отримувача Товару.
        </p>
      </ul>
      <ul class="service__agreement-sublist">
        <h3>2. ЗАГАЛЬНІ ПОЛОЖЕННЯ</h3>
        <p>
          2.1. Замовлення Покупцем Товару, розміщеного на сайті Інтернет-магазину означає, що Покупець згоден з усіма
          умовами цього Договору.
        </p>
        <p>
          2.2. Адміністрація сайту Інтернет-магазину має право вносити зміни в Даний договір без повідомлення Покупця.
          Такі зміни починають діяти відразу після публікації зміненого договору на сайті.
        </p>
        <p>2.3. Термін дії оферти не обмежений, якщо інше не зазначено на сайті Інтернет-магазину.</p>
        <p>
          2.4. Продавець надає Покупцеві повну і достовірну інформацію про товар, включаючи інформацію про основні
          споживчі властивості Товару, місце виготовлення або країну походження. Інформація про товар розміщена в
          Телеграм – каналі та на Інтернет сайті.
        </p>
      </ul>
      <ul class="service__agreement-sublist">
        <h3>3. ВАРТІСТЬ ТОВАРУ ТА ОПЛАТА ТОВАРУ</h3>
        <p>3.1. Ціна на кожну позицію Товару вказана на сайті Інтернет-магазину та в Телеграм - каналі.</p>
        <p>3.2. Продавець має право в односторонньому порядку змінити ціну на будь-яку позицію Товару.</p>
        <p>3.3. Змінена ціна товару діє з моменту публікації такої ціни на сайті Інтернет магазину.</p>
        <p>
          3.4. Покупець має право підтвердити або анулювати Замовлення на придбання Товару, якщо ціна змінена Продавцем
          після оформлення Замовлення. В разі підтвердження Замовлення Покупець сплачує Продавцю нову ціну.
        </p>
        <p>3.5. Зміна Продавцем ціни на оплачений Покупцем Товар не допускається.</p>
        <p>
          3.6. Продавець вказує орієнтовну вартість доставки Товару на сайті Інтернет-магазину або в Телеграм - каналі.
          Остаточний розрахунок вартості доставки здійснює кур’єрська або поштова служба. Вартість доставки Покупець
          сплачує кур’єрській або поштовій службі. Вартість доставки замовленого Покупцем Товару визначається в
          залежності від місця і способу доставки, зазначеного Покупцем у відповідному Замовленні на Товар.
        </p>
        <p>
          3.7. Зобов'язання Покупця по оплаті Товару вважаються виконаними з моменту надходження до Продавця коштів.
        </p>
        <p>
          3.8. Розрахунки між Продавцем і Покупцем за Товар здійснюються способами, зазначеними на сайті
          Інтернет-магазину в розділі «Оплата і доставка»
        </p>
      </ul>
      <ul class="service__agreement-sublist">
        <h3>4. ОФОРМЛЕННЯ ЗАМОВЛЕННЯ</h3>
        <p>4.1. Замовлення Товару здійснюється Покупцем в такому порядку:</p>
        <p>
          • Покупець обирає товар із запропонованих в Телеграм – каналі. В Телеграм-каналі наводиться стисла інформація
          про товар та надається посилання на товар в Інтернет - магазині.
        </p>
        <p>
          • Після обрання товару в Телеграм – каналі Покупець натискає на кнопку яка містить посилання на обраний товар
          в Інтернет – магазині.
        </p>
        <p>
          • Після переходу за посиланням із Телеграм – каналу до Інтернет магазину Покупець має можливість вивчити повну
          інформацію про Товар та почати замовлення товару натиснувши кнопку «Замовити», що відноситься до даного
          товару.
        </p>
        <p>
          4.2. Після початку замовлення Товару Покупець має можливість оформити замовлення Товару без реєстрації в
          Інтернет – магазині. При замовленні товару Покупець зобов'язується надати наступну реєстраційну інформацію:
        </p>
        <p>4.2.1. прізвище, ім'я, по батькові Покупця або вказаної ним особи (одержувача);</p>
        <p>4.2.2. спосіб доставки товару, адреса, за якою слід доставити Товар (якщо доставка до адреси Покупця);</p>
        <p>4.2.3. контактний телефон.</p>
        <p>
          4.3. Якщо Продавцю необхідна додаткова інформація для виконання даного Договору, він має право запросити її у
          Покупця. У разі ненадання необхідної інформації Покупцем, Продавець не несе відповідальності за обраний
          Покупцем Товар, труднощі в доставці товару тощо.
        </p>
        <p>4.4. Покупець несе відповідальність за достовірність наданої інформації при оформленні Замовлення.</p>
        <p>
          4.5. Договір купівлі-продажу дистанційним способом між Продавцем і Покупцем вважається укладеним з моменту
          натискання Покупцем на сайті Інтернет-магазину кнопки «Замовити», що відноситься до даного товару.
        </p>
      </ul>
      <ul class="service__agreement-sublist">
        <h3>5. ДОСТАВКА І ПЕРЕДАЧА ТОВАРУ ПОКУПЦЮ</h3>
        <p>
          5.1. До відносин, що виникають в ході укладання та виконання цього договору застосовуються положення Закону
          України «Про захист прав споживачів».
        </p>
        <p>
          5.2. При відмові Покупця від товару належної якості Продавець повертає кошти в розмірі вартості такого Товару,
          за винятком витрат продавця на доставку товару, який повертається.
        </p>
        <p>
          5.3. Товари, що перебували у використанні та були реалізовані в рамках даного Договору, повертаються за згодою
          Продавця.
        </p>
        <p>5.4. Продавець не несе відповідальності за:</p>
        <p>
          - за невідповідність кольору товару на фотографії на сайті реальному кольору речі, така відмінність може
          статися через не вірну передачу кольорів моніторами персональних комп’ютерів та фототехніки за допомогою якої
          здійснюється фотографування товару.
        </p>
        <p>- за зміст і правдивість інформації, наданої Покупцем при оформленні замовлення;</p>
        <p>
          - за затримку і перебої в наданні Послуг (обробки замовлення та доставки товару), які відбуваються з причин,
          що знаходяться поза сферою його контролю;
        </p>
        <p>
          - за протиправні незаконні дії, здійснені Покупцем та третіми особами за допомогою доступу до , сайту Інтернет
          – магазину, Телеграм-каналу, мережі Інтернет;
        </p>
        <p>
          - будь-яку шкоду завдану обладнанню Покупця або Покупцю не правильним використанням функціоналу
          Телеграм-каналу, Інтернет-магазину або в наслідок зловмисних дій третіх осіб (наприклад розповсюдження
          комп’ютерних вірусів третіми особами). Інтернет сервіс надається Телеграм – каналом та/або Інтернет –
          магазином за принципом «як є».
        </p>
        <p>
          - за всі ризики, збитки та інші втрати Покупця, що стали наслідком використання Інтернет – магазину або Товару
          придбаного за цим Договором.
        </p>
        <p>
          5.5. Покупець, використовуючи наданий йому доступ до мережі Інтернет, самостійно несе відповідальність за
          шкоду, заподіяну його діями (особисто, навіть якщо під його логіном знаходилося іншу особу) особам або їх
          майну, юридичним особам, державі чи моральним принципам.
        </p>
        <p>
          5.6. У разі настання обставин непереборної сили, сторони звільняються від виконання умов цього договору. Під
          обставинами непереборної сили для цього договору розуміються події, що мають надзвичайний, непередбачений
          характер, які виключають або об'єктивно заважають виконанню цього договору, настання яких Сторони не могли
          передбачити і запобігти розумними способами.
        </p>
        <p>
          6.7. Інформація, яку надає Покупцем є конфіденційною. Інтернет-магазин використовує інформацію про Покупця
          виключно в цілях обробки замовлення, відправлення повідомлень Покупцеві, доставки товару, здійснення
          взаєморозрахунків та ін. В свою чергу передачею інформації, в тому числі інформації яка перелічена в п. 4.2
          даного Договору, Покупець підтверджує свою згоду на збір, обробку та передачу його персональних даних, такий
          дозвіл діє безстроковим. Покупець підтверджує згоду на передачу його персональних даних третім особам для
          виконання Продавцем даного Договору (зокрема але не виключно перевізнику, кур’єру, фінансовим та не фінансовим
          установам, що здійснюють або сприяють здійсненню розрахунків тощо).
        </p>
      </ul>
      <ul class="service__agreement-sublist">
        <h3>6. Реквізити</h3>
        <p>ФОП Кордюмова Дар'я</p>
        <p>ІПН 3301217789</p>
        <p>Рахунок: UA543515330000026007052145043</p>
        <p>у ХАРКIВСЬКЕ ГРУ АТ КБ "ПРИВАТБАНК"</p>
      </ul>
    </ul>
  </div>
</section>
