<section class="services responsive-container">
  <!--bread crumbs-->
  <div class="bread-crumbs--account">
    <svg class="arrow-left" width="24" height="24">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
    </svg>
    <p>Головна</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="bread-crumbs--account__desktop-text">Сервіс</p>
  </div>
  <!--account__choose-categories-btn-->
  <div data-dropdown class="account__categories-dropdown-wrap">
    <button data-dropdown-btn class="account__choose-categories-btn">
      <span>Сервіси: Оплата</span>
      <svg class="icon-chevrone-down--account" width="16" height="16">
        <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
      </svg>
    </button>
    <!--account__categories-dropdowm-menu-->
    <ul class="account__categories-dropdown-menu">
      <li>
        <a data-account-category-button="services-about" class="account__category-link" href="about.html">Про нас</a>
      </li>
      <!-- <li><a data-account-category-button="service__payment" class="account__category-link" href="#">Контакти</a></li> -->
      <li>
        <a data-account-category-button="service__payment" class="account__category-link active" href="payment.html"
          >Оплата</a
        >
      </li>
      <li>
        <a data-account-category-button="service__delivery" class="account__category-link" href="delivery.html"
          >Доставка</a
        >
      </li>
      <li>
        <a data-account-category-button="service__refund" class="account__category-link" href="returns.html"
          >Повернення</a
        >
      </li>
      <li>
        <a data-account-category-button="service__agreement" class="account__category-link" href="offer.html"
          >Договір публічної оферти</a
        >
      </li>
      <li>
        <a data-account-category-button="service__questions" class="account__category-link" href="faq.html"
          >Питання та відповіді</a
        >
      </li>
    </ul>
  </div>
  <!--service__payment-->
  <div data-account-category="service__payment" class="service__payment-content-wrap">
    <h1>Оплата</h1>
    <ul class="payment__text-list">
      <li>
        <p>Сплата кожного замовлення здійснюється індивідуально за <b>кожен товар.</b></p>
      </li>
      <li>
        <p>Сплата відбувається в реальному часі у <b>момент бронювання товару.</b></p>
      </li>
      <li>
        <p>
          Сплата відбувається за допомогою платіжної системи <b>LiqPay</b> для банківських карт <b>Visa</b> та
          <b>MasterCard.</b>
        </p>
      </li>
      <li>
        <p>У сервісі LiqPay ви можете обрати один із варіантів:</p>
      </li>
    </ul>
    <ul class="payment__payment-methods-list">
      <li>
        <div>
          <svg width="41" height="41">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-apple"></use>
          </svg>
          <h3>APPLE PAY</h3>
        </div>
        <p>
          На етапі оплати ви можете виконати дію за допомогою Apple Pay. Для цього у вікні LiqPay оберіть сплату через
          Apple Pay та достримуйтесь інструкцій у телефоні або компьютері.
        </p>
      </li>
      <li>
        <div>
          <svg width="41" height="41">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-privat-bank"></use>
          </svg>
          <h3>ПРИВАТ 24</h3>
        </div>
        <p>
          Ви можете обрати різні шляхи оплати через Приват 24. Або натиснути кнопку “Оплата через Приват 24”, або
          відсканувати через додаток QR код (якщо робите покупки з компʼютера).
        </p>
      </li>
      <li>
        <div>
          <svg width="41" height="41">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-google"></use>
          </svg>
          <h3>GPAY</h3>
        </div>
        <p>
          На етапі оплати ви можете використати GPAY . Для цього у вікні LiqPay оберіть оплату через GPAY та
          дотримуйтесь інструкцій на телефоні або компьютері.
        </p>
      </li>
      <li>
        <div>
          <svg width="41" height="41">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-payment-card-new"></use>
          </svg>
          <h3>КАРТКОЮ</h3>
        </div>
        <p>
          У вікні <b>LiqPay</b> оберіть “Інший спосіб” для того щоб змінити спосіб оплати, та оберить “Картку”. Сервіс
          приймає банківські карти <b>Visa</b> та <b>MasterCard.</b>
        </p>
      </li>
    </ul>
  </div>
</section>
