<section class="services responsive-container">
  <!--bread crumbs-->
  <div class="bread-crumbs--account">
    <svg class="arrow-left" width="24" height="24">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
    </svg>
    <p>Головна</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="bread-crumbs--account__desktop-text">Сервіс</p>
  </div>
  <!--account__choose-categories-btn-->
  <div data-dropdown class="account__categories-dropdown-wrap">
    <button data-dropdown-btn class="account__choose-categories-btn">
      <span>Сервіси: Повернення</span>
      <svg class="icon-chevrone-down--account" width="16" height="16">
        <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
      </svg>
    </button>
    <!--account__categories-dropdowm-menu-->
    <ul class="account__categories-dropdown-menu">
      <li>
        <a data-account-category-button="services-about" class="account__category-link" href="about.html">Про нас</a>
      </li>
      <!-- <li><a data-account-category-button="service__payment" class="account__category-link" href="#">Контакти</a></li> -->
      <li>
        <a data-account-category-button="service__payment" class="account__category-link" href="payment.html">Оплата</a>
      </li>
      <li>
        <a data-account-category-button="service__delivery" class="account__category-link" href="delivery.html"
          >Доставка</a
        >
      </li>
      <li>
        <a data-account-category-button="service__refund" class="account__category-link active" href="returns.html"
          >Повернення</a
        >
      </li>
      <li>
        <a data-account-category-button="service__agreement" class="account__category-link" href="offer.html"
          >Договір публічної оферти</a
        >
      </li>
      <li>
        <a data-account-category-button="service__questions" class="account__category-link" href="faq.html"
          >Питання та відповіді</a
        >
      </li>
    </ul>
  </div>
  <!--service__refund-->
  <div data-account-category="service__refund" class="service__refund-content-wrap">
    <h1>Повернення</h1>
    <ul class="service__refund-text-wrap">
      <li>
        <p>
          Ми дуже дбаємо про якість товару, який пропонуємо в нашому каналі та залишаємося лояльними до наших покупців.
        </p>
      </li>
      <li>
        <p>
          У разі невідповідності фото заявленого на сайті, або виявленні дефектів не зазначених у описі товару чи інших
          форс-мажорних обставин, кожна ситуація розглядається індивідуально в онлайн режимі. <br />
          За умови, що вище вказані причини відсутні <b>Продавець</b> не несе відповідальність за обраний Покупцем
          товар.
        </p>
      </li>
      <li>
        <p>
          Повернення відбуваються відповідно до <b>Закону України «Про захист прав споживачів», згідно ст.8, ч.2.</b>
        </p>
      </li>
      <li>
        <p>Контакт онлайн консультанта вказаний в розділі <b>«Контакти».</b></p>
      </li>
    </ul>
  </div>
</section>
