<section class="services responsive-container">
  <!--bread crumbs-->
  <div class="bread-crumbs--account">
    <svg class="arrow-left" width="24" height="24">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
    </svg>
    <p>Головна</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="bread-crumbs--account__desktop-text">Сервіс</p>
  </div>
  <!--account__choose-categories-btn-->
  <div data-dropdown class="account__categories-dropdown-wrap">
    <button data-dropdown-btn class="account__choose-categories-btn">
      <span>Сервіси: Про нас</span>
      <svg class="icon-chevrone-down--account" width="16" height="16">
        <use href="./img/icons/symbol-defs-optimized.svg#icon-chevrone-down"></use>
      </svg>
    </button>
    <!--account__categories-dropdowm-menu-->
    <ul class="account__categories-dropdown-menu">
      <li>
        <a data-account-category-button="services-about" class="account__category-link active" href="about.html"
          >Про нас</a
        >
      </li>
      <!-- <li><a data-account-category-button="service__payment" class="account__category-link" href="#">Контакти</a></li> -->
      <li>
        <a data-account-category-button="service__payment" class="account__category-link" href="payment.html">Оплата</a>
      </li>
      <li>
        <a data-account-category-button="service__delivery" class="account__category-link" href="delivery.html"
          >Доставка</a
        >
      </li>
      <li>
        <a data-account-category-button="service__refund" class="account__category-link" href="returns.html"
          >Повернення</a
        >
      </li>
      <li>
        <a data-account-category-button="service__agreement" class="account__category-link" href="offer.html"
          >Договір публічної оферти</a
        >
      </li>
      <li>
        <a data-account-category-button="service__questions" class="account__category-link" href="faq.html"
          >Питання та відповіді</a
        >
      </li>
    </ul>
  </div>
  <!--services-about-->
  <div data-account-category="services-about" class="service__about-content-wrap">
    <div class="service__about-greetings-wrap section--padding">
      <h3 class="service__about-greetings-header-mob">Вітаємо у світі мудрого шопінгу від SMART STORE online</h3>
      <h2 class="service__about-greetings-header-desk">
        <svg class="icon-star" width="76" height="76">
          <use href="./img/icons/symbol-defs-optimized.svg#icon-Star"></use>
        </svg>
        Вітаємо у світі мудрого шопінгу<br />
        від SMART STORE online
      </h2>
      <div class="service__about-greetings-bg"></div>
    </div>
    <div class="marquee">
      <ul class="marquee__content">
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
      </ul>
      <ul class="marquee__content" aria-hidden="true">
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span> SMART STORE</span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
        <li><span>мудрий вибір </span></li>
        <li>
          <img src="./img/icons/happy.svg" alt="" />
        </li>
      </ul>
    </div>
    <ul class="service__about-purposes-list section--padding">
      <li class="service__about-purposes-item">
        <div class="service__about-purposes-item-text">
          <h3>
            <svg class="icon-star" width="41" height="41">
              <use href="./img/icons/symbol-defs-optimized.svg#icon-Star"></use>
            </svg>
            Наша мета
          </h3>
          <p>Метою нашої роботи є збереження навколишнього середовища та якісні покупки, доступні кожному!</p>
          <br />
          <p>Тому ми пропонуємо Вам зануритись у <b>Sustainable shopping.</b></p>
        </div>
        <div class="service__about-purpose-item-img-wrap">
          <picture>
            <source
              srcset="
                ./img/services/service-about-purpose1-1x-mob.jpg 1x,
                ./img/services/service-about-purpose1-2x-mob.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./img/services/service-about-purpose1-1x-desk.jpg 1x,
                ./img/services/service-about-purpose1-2x-desk.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./img/services/service-about-purpose1-1x-desk.jpg" alt="woman is looking over the jacket" />
          </picture>
        </div>
      </li>
      <li class="service__about-purposes-item">
        <div class="service__about-purposes-item-text">
          <h3>
            <svg class="icon-star" width="41" height="41">
              <use href="./img/icons/symbol-defs-optimized.svg#icon-Star"></use>
            </svg>
            Що таке Sustainable shopping?
          </h3>
          <p>
            Це засіб, за допомогою якого Ви споживаєте товари і послуги, з урахуванням найбільш ефективних і вигідних
            варіантів для всіх видів і систем на планеті.
          </p>
          <br />
          <p>
            <b>Sustainable</b> споживач знає, що Земля - це одна гігантська екосистема, що складається з екосистем, які
            покладаються один на одного і залежать один від одного.
          </p>
        </div>
        <div class="service__about-purpose-item-img-wrap">
          <picture>
            <source
              srcset="
                ./img/services/service-about-purpose2-1x-desk.jpg 1x,
                ./img/services/service-about-purpose2-2x-desk.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/services/service-about-purpose2-1x-mob.jpg 1x,
                ./img/services/service-about-purpose2-2x-mob.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/services/service-about-purpose2-1x-desk.jpg" alt="man is looking over the box" />
          </picture>
        </div>
      </li>
      <li class="service__about-purposes-item">
        <div class="service__about-purposes-item-text">
          <h3>
            <svg class="icon-star" width="41" height="41">
              <use href="./img/icons/symbol-defs-optimized.svg#icon-Star"></use>
            </svg>
            Купуючи у нас
          </h3>
          <p>
            Ви даєте речам друге життя, тим самим Ви не тільки заощаджуєте, а й допомагаєте планеті не загрузнути в
            перевиробництві.
          </p>
        </div>
        <div class="service__about-purpose-item-img-wrap">
          <picture>
            <source
              srcset="
                ./img/services/service-about-purpose3-1x-mob.jpg 1x,
                ./img/services/service-about-purpose3-2x-mob.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./img/services/service-about-purpose3-1x-desk.jpg 1x,
                ./img/services/service-about-purpose3-2x-desk.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./img/services/service-about-purpose3-1x-desk.jpg" alt="bunch of hangers" />
          </picture>
        </div>
      </li>
    </ul>
    <div class="service__about-unique-shopping-wrap">
      <div class="service__about-unique-shopping-content section--padding">
        <div class="service__about-unique-shopping-content-text">
          <h2>Унікальний онлайн шопінг розпочався у</h2>
          <p>Він об’єднує тисячі однодумців зі всіх куточків нашої країни.</p>
        </div>
        <div class="service__about-unique-shopping-content-span-wrap">
          <span>2020</span>
          <p>році</p>
          <svg class="icon-union" width="60" height="60">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-Union"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="service__about-like-minded-people-wrap">
      <div class="service__about-like-minded-people-content section--padding">
        <div class="service__about-like-minded-people-theses">
          <h3>Однодумців, які</h3>
          <ul>
            <li>Дають другий шанс вживаним речам</li>
            <li>Йдуть нога в ногу з часом та трендами</li>
            <li>Дбають про майбутнє!</li>
          </ul>
        </div>
        <div class="service__about-like-minded-people-description">
          <h2>Створюємо красу разом!</h2>
          <p>У нас Ви можете зібрати образ із речей, які були у використанні для будь-якої події.</p>
        </div>
      </div>
    </div>
    <div class="service__about-swiper-thumb">
      <div class="swiper service__about-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper service__about-slider-wrapper">
          <!-- Slides -->
          <div class="swiper-slide service__about-slide">
            <div class="service__about-slide-img-wrap">
              <div class="service__about-slide-img-inner-wrap">
                <img
                  srcset="./img/services/slider/slider1-1x.jpg 1x, ./img/services/slider/slider1-2x.jpg 2x"
                  src="./img/services/slider/slider1-1x.jpg"
                  alt="chain"
                />
                <p>
                  Мій закон – не сперечатися з вітром, він знає, куди дме, ми ж, стилісти, маємо лише точно визначити
                  його напрямок
                </p>
              </div>
            </div>
            <div class="service__about-slide-h2-wrapper">
              <h2>Можна знайти вінтажні предмети декору</h2>
              <hr size="1px" color="black" class="hr-service" />
            </div>
          </div>
          <div class="swiper-slide service__about-slide">
            <div class="service__about-slide-img-wrap">
              <div class="service__about-slide-img-inner-wrap">
                <img
                  srcset="./img/services/slider/slider2-1x.jpg 1x, ./img/services/slider/slider2-2x.jpg 2x"
                  src="./img/services/slider/slider2-1x.jpg"
                  alt="chain"
                />
                <p>
                  Дешева пара взуття – погана економія. Не заощаджуйте на головному: взуття – основа вашого гардеробу
                </p>
              </div>
            </div>
            <div class="service__about-slide-h2-wrapper">
              <h2>Взуття, як у кумирів</h2>
              <hr size="1px" color="black" class="hr-service" />
            </div>
          </div>
          <div class="swiper-slide service__about-slide">
            <div class="service__about-slide-img-wrap">
              <div class="service__about-slide-img-inner-wrap">
                <img
                  srcset="./img/services/slider/slider3-1x.jpg 1x, ./img/services/slider/slider3-2x.jpg 2x"
                  src="./img/services/slider/slider3-1x.jpg"
                  alt="chain"
                />
                <p>Бути елегантною – не означає впадати у вічі, це означає – врізатися в пам'ять</p>
              </div>
            </div>
            <div class="service__about-slide-h2-wrapper">
              <h2>Або одяг про який мріяли роками</h2>
              <hr size="1px" color="black" class="hr-service" />
            </div>
          </div>
          <div class="swiper-slide service__about-slide">
            <div class="service__about-slide-img-wrap">
              <div class="service__about-slide-img-inner-wrap">
                <img
                  srcset="./img/services/slider/slider4-1x.jpg 1x, ./img/services/slider/slider4-2x.jpg 2x"
                  src="./img/services/slider/slider4-1x.jpg"
                  alt="chain"
                />
                <p>
                  Найкращий одяг для жінки - це обійми чоловіка, що любить її. Але для тих, хто позбавлений такого
                  щастя, є я.
                </p>
              </div>
            </div>
            <div class="service__about-slide-h2-wrapper">
              <h2>А ще світові бренди із закритих показів</h2>
              <hr size="1px" color="black" class="hr-service" />
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="service__swiper-pagination"></div>
      </div>
    </div>
    <div class="service__about-more-about-us section--padding">
      <h2>Ще трішки про нас</h2>
      <ul>
        <li>
          <p>Оновлення товару відбувається майже щоденно, задоволеним залишеться кожен.</p>
        </li>
        <li>
          <p>Ми закохані в свою справу та завжди поруч!</p>
        </li>
        <li>
          <p>
            Наш товар розходиться як "гарячі пиріжки" тому, натиснувши кнопку "Придбати" у вас буде лише 10 хвилин, щоб
            завершити операцію оплати. Не зволікайте!
          </p>
        </li>
      </ul>
    </div>
  </div>
  <!--service__payment-->
  <div data-account-category="service__payment" class="service__payment-content-wrap visually-hidden">
    <h1>Оплата</h1>
    <ul class="payment__text-list">
      <li>
        <p>Сплата кожного замовлення здійснюється індивідуально за <b>кожен товар.</b></p>
      </li>
      <li>
        <p>Сплата відбувається в реальному часі у <b>момент бронювання товару.</b></p>
      </li>
      <li>
        <p>
          Сплата відбувається за допомогою платіжної системи <b>LiqPay</b> для банківських карт <b>Visa</b> та
          <b>MasterCard.</b>
        </p>
      </li>
      <li>
        <p>У сервісі LiqPay ви можете обрати один із варіантів:</p>
      </li>
    </ul>
    <ul class="payment__payment-methods-list">
      <li>
        <div>
          <svg width="41" height="41">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-apple"></use>
          </svg>
          <h3>APPLE PAY</h3>
        </div>
        <p>
          На етапі оплати ви можете виконати дію за допомогою Apple Pay. Для цього у вікні LiqPay оберіть сплату через
          Apple Pay та достримуйтесь інструкцій у телефоні або компьютері.
        </p>
      </li>
      <li>
        <div>
          <svg width="41" height="41">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-privat-bank"></use>
          </svg>
          <h3>ПРИВАТ 24</h3>
        </div>
        <p>
          Ви можете обрати різні шляхи оплати через Приват 24. Або натиснути кнопку “Оплата через Приват 24”, або
          відсканувати через додаток QR код (якщо робите покупки з компʼютера).
        </p>
      </li>
      <li>
        <div>
          <svg width="41" height="41">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-google"></use>
          </svg>
          <h3>GPAY</h3>
        </div>
        <p>
          На етапі оплати ви можете використати GPAY . Для цього у вікні LiqPay оберіть оплату через GPAY та
          дотримуйтесь інструкцій на телефоні або компьютері.
        </p>
      </li>
      <li>
        <div>
          <svg width="41" height="41">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-payment-card-new"></use>
          </svg>
          <h3>КАРТКОЮ</h3>
        </div>
        <p>
          У вікні <b>LiqPay</b> оберіть “Інший спосіб” для того щоб змінити спосіб оплати, та оберить “Картку”. Сервіс
          приймає банківські карти <b>Visa</b> та <b>MasterCard.</b>
        </p>
      </li>
    </ul>
  </div>
  <!--service__delivery-->
  <div data-account-category="service__delivery" class="service__delivery-content-wrap visually-hidden">
    <h1>Доставка</h1>
    <ul class="service__payment-text-wrap">
      <li>
        <p>Ми здійснюємо доставку товару кур’єрською службою <b>«Нова Пошта».</b></p>
      </li>
      <li>
        <p>
          Всі відправлення відбуваються кожного <b>понеділка</b> та <b>четверга.</b> Замовлення зроблені з понеділка по
          середу – відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
        </p>
      </li>
      <li>
        <p>Вартість послуг кур’єрською службою сплачує <b>Покупець.</b></p>
      </li>
      <li>
        <p>
          При сумі замовлення від <b>500 грн.</b>, вартість послуг кур’єрською службою сплачує <b>Продавець</b><br />
          - за умови, що замовлені товари з одного міста, а замовлення зроблене в період між днями відправлення;<br />
          - за умови відправки з відділення у відділення, або з відділення у почтомат.
        </p>
      </li>
      <li>
        <p>
          Оціночна вартість посилок – <b>мінімальна</b>, згідно тарифів кур’єрської служби «Нова Пошта» на день
          відправлення. <br />
          Оціночну вартість посилки можливо змінити <b>за бажанням Покупця</b> – залишивши коментар на сайті, або через
          запит до онлайн консультанта у Телеграмі.<br />
          Пакування здійснюється згідно з правил кур’єрської служби «Нова Пошта».
        </p>
      </li>
    </ul>
  </div>
  <!--service__refund-->
  <div data-account-category="service__refund" class="service__refund-content-wrap visually-hidden">
    <h1>Повернення</h1>
    <ul class="service__refund-text-wrap">
      <li>
        <p>
          Ми дуже дбаємо про якість товару, який пропонуємо в нашому каналі та залишаємося лояльними до наших покупців.
        </p>
      </li>
      <li>
        <p>
          У разі невідповідності фото заявленого на сайті, або виявленні дефектів не зазначених у описі товару чи інших
          форс-мажорних обставин, кожна ситуація розглядається індивідуально в онлайн режимі. <br />
          За умови, що вище вказані причини відсутні <b>Продавець</b> не несе відповідальність за обраний Покупцем
          товар.
        </p>
      </li>
      <li>
        <p>
          Повернення відбуваються відповідно до <b>Закону України «Про захист прав споживачів», згідно ст.8, ч.2.</b>
        </p>
      </li>
      <li>
        <p>Контакт онлайн консультанта вказаний в розділі <b>«Контакти».</b></p>
      </li>
    </ul>
  </div>
  <!--service__agreement-->
  <div data-account-category="service__agreement" class="service__agreement-content-wrap visually-hidden">
    <h1>Договір публічної оферти</h1>
    <p>
      Інтернет-магазин “SMART-STORE”, розташований на доменному імені www.online-smart.store та в Телеграм – каналі
      https://t.me/ua_smart_store, яким володіє ФОП Кордюмова Дар'я, іменований надалі «Продавець», публікує Публічний
      договір про продаж Товару дистанційним способом.
    </p>
    <ul class="service__agreement-text-wrap">
      <ul class="service__agreement-sublist">
        <h3>1. ВИЗНАЧЕННЯ ТЕРМІНІВ</h3>
        <p>
          1.1. Публічний договір - публічна пропозиція Продавця, адресована невизначеному колу осіб, укласти з Продавцем
          договір купівлі-продажу товару дистанційним способом (далі - «Договір») на умовах, що містяться в цій Оферті.
        </p>
        <p>
          1.2. Замовлення Товару - позиції зазначені Покупцем з асортименту Товару, запропонованого до продажу, при
          дистанційному оформленні заявки на придбання Товару
        </p>
        <p>
          1.3. Товар - непродовольчі товари народного споживання (одяг, взуття, шкіргалантерея, аксесуари тощо), що на
          умовах даного Договору пропонуються до продажу за допомогою засобів дистанційного зв’язку
        </p>
        <p>1.4. Продавець - Інтернет-магазин “SMART-STORE”розміщений на веб-сайті: online-smart.store</p>
        <p>
          Місцезнаходження, контактні дані та режим роботи Продавця зазначені у розділі «Информация о продавце» на
          веб-сайті: online-smart.store
        </p>
        <p>
          1.5. Покупець - будь-яка дієздатна особа, що в порядку, передбаченому даним Договором, за власним
          волевиявленням повністю прийняла (акцептувала) всі його умови без виключення.
        </p>
        <p>
          1.6. Отримувач Товару - будь-яка дієздатна особа, що визначена Покупцем у відповідному Замовленні на Товар в
          якості отримувача Товару.
        </p>
      </ul>
      <ul class="service__agreement-sublist">
        <h3>2. ЗАГАЛЬНІ ПОЛОЖЕННЯ</h3>
        <p>
          2.1. Замовлення Покупцем Товару, розміщеного на сайті Інтернет-магазину означає, що Покупець згоден з усіма
          умовами цього Договору.
        </p>
        <p>
          2.2. Адміністрація сайту Інтернет-магазину має право вносити зміни в Даний договір без повідомлення Покупця.
          Такі зміни починають діяти відразу після публікації зміненого договору на сайті.
        </p>
        <p>2.3. Термін дії оферти не обмежений, якщо інше не зазначено на сайті Інтернет-магазину.</p>
        <p>
          2.4. Продавець надає Покупцеві повну і достовірну інформацію про товар, включаючи інформацію про основні
          споживчі властивості Товару, місце виготовлення або країну походження. Інформація про товар розміщена в
          Телеграм – каналі та на Інтернет сайті.
        </p>
      </ul>
      <ul class="service__agreement-sublist">
        <h3>3. ВАРТІСТЬ ТОВАРУ ТА ОПЛАТА ТОВАРУ</h3>
        <p>3.1. Ціна на кожну позицію Товару вказана на сайті Інтернет-магазину та в Телеграм - каналі.</p>
        <p>3.2. Продавець має право в односторонньому порядку змінити ціну на будь-яку позицію Товару.</p>
        <p>3.3. Змінена ціна товару діє з моменту публікації такої ціни на сайті Інтернет магазину.</p>
        <p>
          3.4. Покупець має право підтвердити або анулювати Замовлення на придбання Товару, якщо ціна змінена Продавцем
          після оформлення Замовлення. В разі підтвердження Замовлення Покупець сплачує Продавцю нову ціну.
        </p>
        <p>3.5. Зміна Продавцем ціни на оплачений Покупцем Товар не допускається.</p>
        <p>
          3.6. Продавець вказує орієнтовну вартість доставки Товару на сайті Інтернет-магазину або в Телеграм - каналі.
          Остаточний розрахунок вартості доставки здійснює кур’єрська або поштова служба. Вартість доставки Покупець
          сплачує кур’єрській або поштовій службі. Вартість доставки замовленого Покупцем Товару визначається в
          залежності від місця і способу доставки, зазначеного Покупцем у відповідному Замовленні на Товар.
        </p>
        <p>
          3.7. Зобов'язання Покупця по оплаті Товару вважаються виконаними з моменту надходження до Продавця коштів.
        </p>
        <p>
          3.8. Розрахунки між Продавцем і Покупцем за Товар здійснюються способами, зазначеними на сайті
          Інтернет-магазину в розділі «Оплата і доставка»
        </p>
      </ul>
      <ul class="service__agreement-sublist">
        <h3>4. ОФОРМЛЕННЯ ЗАМОВЛЕННЯ</h3>
        <p>4.1. Замовлення Товару здійснюється Покупцем в такому порядку:</p>
        <p>
          • Покупець обирає товар із запропонованих в Телеграм – каналі. В Телеграм-каналі наводиться стисла інформація
          про товар та надається посилання на товар в Інтернет - магазині.
        </p>
        <p>
          • Після обрання товару в Телеграм – каналі Покупець натискає на кнопку яка містить посилання на обраний товар
          в Інтернет – магазині.
        </p>
        <p>
          • Після переходу за посиланням із Телеграм – каналу до Інтернет магазину Покупець має можливість вивчити повну
          інформацію про Товар та почати замовлення товару натиснувши кнопку «Замовити», що відноситься до даного
          товару.
        </p>
        <p>
          4.2. Після початку замовлення Товару Покупець має можливість оформити замовлення Товару без реєстрації в
          Інтернет – магазині. При замовленні товару Покупець зобов'язується надати наступну реєстраційну інформацію:
        </p>
        <p>4.2.1. прізвище, ім'я, по батькові Покупця або вказаної ним особи (одержувача);</p>
        <p>4.2.2. спосіб доставки товару, адреса, за якою слід доставити Товар (якщо доставка до адреси Покупця);</p>
        <p>4.2.3. контактний телефон.</p>
        <p>
          4.3. Якщо Продавцю необхідна додаткова інформація для виконання даного Договору, він має право запросити її у
          Покупця. У разі ненадання необхідної інформації Покупцем, Продавець не несе відповідальності за обраний
          Покупцем Товар, труднощі в доставці товару тощо.
        </p>
        <p>4.4. Покупець несе відповідальність за достовірність наданої інформації при оформленні Замовлення.</p>
        <p>
          4.5. Договір купівлі-продажу дистанційним способом між Продавцем і Покупцем вважається укладеним з моменту
          натискання Покупцем на сайті Інтернет-магазину кнопки «Замовити», що відноситься до даного товару.
        </p>
      </ul>
      <ul class="service__agreement-sublist">
        <h3>5. ДОСТАВКА І ПЕРЕДАЧА ТОВАРУ ПОКУПЦЮ</h3>
        <p>
          5.1. До відносин, що виникають в ході укладання та виконання цього договору застосовуються положення Закону
          України «Про захист прав споживачів».
        </p>
        <p>
          5.2. При відмові Покупця від товару належної якості Продавець повертає кошти в розмірі вартості такого Товару,
          за винятком витрат продавця на доставку товару, який повертається.
        </p>
        <p>
          5.3. Товари, що перебували у використанні та були реалізовані в рамках даного Договору, повертаються за згодою
          Продавця.
        </p>
        <p>5.4. Продавець не несе відповідальності за:</p>
        <p>
          - за невідповідність кольору товару на фотографії на сайті реальному кольору речі, така відмінність може
          статися через не вірну передачу кольорів моніторами персональних комп’ютерів та фототехніки за допомогою якої
          здійснюється фотографування товару.
        </p>
        <p>- за зміст і правдивість інформації, наданої Покупцем при оформленні замовлення;</p>
        <p>
          - за затримку і перебої в наданні Послуг (обробки замовлення та доставки товару), які відбуваються з причин,
          що знаходяться поза сферою його контролю;
        </p>
        <p>
          - за протиправні незаконні дії, здійснені Покупцем та третіми особами за допомогою доступу до , сайту Інтернет
          – магазину, Телеграм-каналу, мережі Інтернет;
        </p>
        <p>
          - будь-яку шкоду завдану обладнанню Покупця або Покупцю не правильним використанням функціоналу
          Телеграм-каналу, Інтернет-магазину або в наслідок зловмисних дій третіх осіб (наприклад розповсюдження
          комп’ютерних вірусів третіми особами). Інтернет сервіс надається Телеграм – каналом та/або Інтернет –
          магазином за принципом «як є».
        </p>
        <p>
          - за всі ризики, збитки та інші втрати Покупця, що стали наслідком використання Інтернет – магазину або Товару
          придбаного за цим Договором.
        </p>
        <p>
          5.5. Покупець, використовуючи наданий йому доступ до мережі Інтернет, самостійно несе відповідальність за
          шкоду, заподіяну його діями (особисто, навіть якщо під його логіном знаходилося іншу особу) особам або їх
          майну, юридичним особам, державі чи моральним принципам.
        </p>
        <p>
          5.6. У разі настання обставин непереборної сили, сторони звільняються від виконання умов цього договору. Під
          обставинами непереборної сили для цього договору розуміються події, що мають надзвичайний, непередбачений
          характер, які виключають або об'єктивно заважають виконанню цього договору, настання яких Сторони не могли
          передбачити і запобігти розумними способами.
        </p>
        <p>
          6.7. Інформація, яку надає Покупцем є конфіденційною. Інтернет-магазин використовує інформацію про Покупця
          виключно в цілях обробки замовлення, відправлення повідомлень Покупцеві, доставки товару, здійснення
          взаєморозрахунків та ін. В свою чергу передачею інформації, в тому числі інформації яка перелічена в п. 4.2
          даного Договору, Покупець підтверджує свою згоду на збір, обробку та передачу його персональних даних, такий
          дозвіл діє безстроковим. Покупець підтверджує згоду на передачу його персональних даних третім особам для
          виконання Продавцем даного Договору (зокрема але не виключно перевізнику, кур’єру, фінансовим та не фінансовим
          установам, що здійснюють або сприяють здійсненню розрахунків тощо).
        </p>
      </ul>
      <ul class="service__agreement-sublist">
        <h3>6. Реквізити</h3>
        <p>ФОП Кордюмова Дар'я</p>
        <p>ІПН 3301217789</p>
        <p>Рахунок: UA543515330000026007052145043</p>
        <p>у ХАРКIВСЬКЕ ГРУ АТ КБ "ПРИВАТБАНК"</p>
      </ul>
    </ul>
  </div>
  <!--service__questions-->
  <div data-account-category="service__questions" class="service__questions-answers-content-wrap visually-hidden">
    <h1>Питання та відповіді</h1>
    <ul id="item-details" class="item__details">
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Які способи доставки є в інтернет-магазині Smart Price?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>
              Доставка замовлень нашого інтернет-магазину здійснюється за допомогою сервісу “Нова пошта” на обране вами
              відділення.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Яка вартість та терміни доставки?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Як я можу оплатити товар?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Чому я можу купити за раз лише один товар?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Що робити, якщо товар не підійшов?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Чи можу я вернути/обміняти товар, який мені не підійшов?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Як я можу повернути товар?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Як я отримую грошові кошти за повернення товару?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Який графік роботи інтернет-магазину?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Що таке NEW DROP?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
      <li class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>Чи можу я отримати додаткову знижку на товар? Чи є у вас товари зі знижкою?</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга. Замовлення зроблені з понеділка по середу –
              відправлення у четверг. Замовлення зроблені з четверга по неділю – відправлення у понеділок.
            </p>
          </li>
          <li>
            <p>
              Термін доставки до 5 днів з моменту оформлення замовлення. Якщо виникають затримки при доставці, будь
              ласка звʼяжіться з представниками Нової пошти у відділеня, яке ви обрали.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
