.footer {
  color: getColor('white');
  background-color: getColor('black');
  line-height: 1;
}

.wrapper {
  @include desk {
    display: grid;
    height: auto;
    // height: 576px;
    grid-template-columns: 1fr 1fr minmax(auto, 268px);
    // grid-template-columns: 586px 586px 268px;
    grid-template-rows: repeat(3, auto);
    // grid-template-rows: 168px 344px 64px;
    grid-template-areas:
      'footer-logo newdrop footer-icons'
      'assortment about footer-icons'
      'support support footer-icons';
  }
}

.footer-logo {
  padding: 24px 0;
  @include desk {
    padding: 24px 0 24px 72px;
    grid-area: footer-logo;
  }
}

.footer-logo__img {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  @include desk {
    margin-left: 0;
    margin-right: 0;
    width: 120px;
    height: 120px;
  }
}

.footer-icons__list {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  display: grid;
  grid-template-columns: repeat(3, auto);
  @include desk {
    grid-area: footer-icons;
    border-left: 1px solid #ffffff;
    border-top: none;
    border-bottom: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.footer-icons__item:not(:last-child) {
  border-right: 1px solid #ffffff;
  @include desk {
    border-right: none;
    border-bottom: 1px solid #ffffff;
  }
}
.footer-icons__item {
  width: 100%;
  min-height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include desk {
    min-height: 192px;
  }
}

.footer-icons__wrap {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: getColor('white');
  display: flex;
  align-items: center;
  justify-content: center;

  @include desk {
    width: 86px;
    height: 86px;
  }
}

.footer-icons__item svg {
  @include desk {
    width: 44px;
    height: 44px;
  }
}

.newdrop {
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;

  @include desk {
    grid-area: newdrop;
    border-left: 1px solid #ffffff;
    padding: 24px 0 24px 72px;
    align-items: baseline;
    border-bottom: none;
  }
}

.newdrop__item {
  padding: 8px 12px;
  width: auto;
  text-align: center;

  @include desk {
    text-align: left;
  }
}

// .newdrop li:last-child {
//   color: #ffffff40;
// }

.assortment-list {
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;

  @include desk {
    grid-area: assortment;
    padding: 24px 0 24px 72px;
    align-items: baseline;
    border-top: 1px solid #ffffff;
    border-bottom: none;
  }
}

.assortment-list__item {
  padding: 8px 12px;
  width: auto;
  text-align: center;

  @include desk {
    text-align: left;
  }
}

.about-list {
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;

  @include desk {
    grid-area: about;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-bottom: none;
    padding: 24px 0 24px 72px;
    align-items: baseline;
  }
}

.about-list__item {
  padding: 8px 12px;
  width: auto;
  text-align: center;

  @include desk {
    text-align: left;
  }
}

.support-list {
  font-family: Raleway;
  @include font(400, 14px, 20px, null);
  padding: 24px 32px;

  @include desk {
    grid-area: support;
    border-top: 1px solid #ffffff;
    display: grid;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    padding: 22px 72px;
  }
}

.support-list__item:first-child {
  margin-bottom: 24px;

  @include desk {
    margin-bottom: 0px;
  }
}
