<section class="background-wrapper responsive-container">
  <div class="auth__text">
    <svg class="arrow-left" width="24" height="24">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
    </svg>
    <p class="auth__text-main">Головна</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="auth__text-login">Змінити пароль</p>
  </div>
  <div class="change-password__form-wrapper">
    <h3 class="change-password__heading">Змінити пароль</h3>
    <p class="change-password__text">
      Введіть свою електронну пошту нижче, щоб отримати новий пароль.<br />
      На вказану нижче адресу буде надіслано електронний лист із посиланням для
      для скидання паролю та створення нового.
    </p>
    <form
      name="change-password-form"
      class="change-password__form"
      method="post"
      novalidate
    >
      <input
        class="form-input change-password__email-input _tel _req"
        type="email"
        name="email"
        placeholder="Пошта"
        aria-label="create account form email"
        autocomplete="on"
        autofocus
        required
      />
      <button type="submit" class="btn change-password__btn">
        Змінити пароль
      </button>
    </form>
  </div>
</section>
