<section class="background-wrapper responsive-container">
  <div class="auth__text">
    <svg class="arrow-left" width="24" height="24">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
    </svg>
    <p class="auth__text-main">Головна</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="auth__text-login">Змінити пароль</p>
  </div>
  <div class="confirmation-password-wrapper">
    <h3 class="change-password__heading">Ваш пароль успішно змінено</h3>
    <div class="confirmation-icon-thumb">
      <svg class="confirmation-tick" width="54" height="36">
        <use
          href="./img/icons/symbol-defs-optimized.svg#icon-confirmation-tick"
        ></use>
      </svg>
    </div>
    <p class="confirmation-password-text">Увійдіть з новим паролем</p>
    <button
      type="submit"
      class="btn change-password__btn change-password__btn--confirmation"
    >
      Увійти
    </button>
  </div>
</section>
