<!-- Modal -->
<div class="modal-overlay visually-hidden">
  <div class="modal">
    <h4>Щось не так.</h4>
    <p>Аби продовжити покупки для початку увійдіть або зареєструйтесь.</p>
    <div class="button-wrap">
      <button
        type="button"
        class="modal_close-btn modal_close-btn--product-card"
      >
        Зареєструватися
      </button>
      <button
        type="button"
        class="modal_close-btn modal_close-btn--product-card"
      >
        Увійти
      </button>
    </div>
  </div>
</div>
