.header {
  padding: 8px 16px;
  border-bottom: 1px solid;
  @include desk {
    padding: 8px 84px;
    border-top: 1px solid;
    margin-top: 24px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-left {
  display: none;

  @include desk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
}

.menu-left li:last-child {
  color: getColor('gray-body');
}

.menu-right {
  display: none;

  @include desk {
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  & > li {
    @include desk {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.logo {
  width: 56px;
  height: 56px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @include desk {
    width: 68px;
    height: 68px;
  }
}

.button-search {
  width: 44px;
  height: 44px;
  @include desk {
    width: 32px;
    height: 32px;
    // position: absolute;
    // left: 142px;
  }
}

.button-burger {
  width: 44px;
  height: 44px;
  // margin-right: 100px;
  @include desk {
    display: none;
  }
}

.button-user {
  width: 44px;
  height: 44px;
  margin-left: 8px;
  @include desk {
    display: none;
  }
}

.icon-search {
  @include desk {
    width: 24px;
    height: 24px;
  }
}

.icon-chevrone-down {
  margin-left: 8px;
  vertical-align: text-bottom;
}

.decorative-link--header {
  @extend .decorative-link;
  &::after {
    background-color: getColor('black');
  }
}

.link-header--inactive {
  padding-bottom: 5px;
  padding-top: 5px;
}
