.header {
  padding: 8px 16px;
  border-bottom: 1px solid;
  @include desk {
    padding: 8px 84px;
    border-top: 1px solid;
    margin-top: 24px;
  }
}

.nav {
  display: grid;
  grid-template-columns: 45% 10% 45%;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-left {
  display: none;

  @include desk {
    display: flex;
<<<<<<< HEAD
    align-items: center;
    gap: 12px;
  }

  & > li {
    @include desk {
      padding-left: 12px;
      padding-right: 12px;
    }
=======
    gap: 24px;
>>>>>>> 5e1c6f13e318cdcec04ff1e23acbffedbaff5ae0
  }
}

.menu-left li:last-child {
  color: getColor('gray-body');
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
<<<<<<< HEAD

  @include desk {
    gap: 8px;
  }
  gap: 12px;
=======
>>>>>>> 5e1c6f13e318cdcec04ff1e23acbffedbaff5ae0
}

.menu-right {
  display: none;

  @include desk {
    display: flex;
    gap: 12px;
  }

  & > li {
    @include desk {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.logo {
  min-width: 56px;
  height: 56px;
<<<<<<< HEAD
  margin-left: auto;
  margin-right: auto;
=======
>>>>>>> 5e1c6f13e318cdcec04ff1e23acbffedbaff5ae0

  @include desk {
    max-width: 68px;
    max-height: 68px;
  }
}

.button-search {
  width: 44px;
  height: 44px;
  @include desk {
    width: 32px;
    height: 32px;
    // position: absolute;
    // left: 142px;
  }
}

.button-burger {
  width: 44px;
  height: 44px;
  // margin-right: 100px;
  @include desk {
    display: none;
  }
}

.button-user {
  width: 44px;
  height: 44px;
  margin-left: 8px;
  @include desk {
    display: none;
  }
}

.icon-search {
  @include desk {
    width: 24px;
    height: 24px;
  }
}

.icon-chevrone-down {
  margin-left: 8px;
  vertical-align: text-bottom;
}

.decorative-link--header {
  @extend .decorative-link;
  &::after {
    background-color: getColor('black');
  }
}

.link-header--inactive {
  padding-bottom: 5px;
  padding-top: 5px;
}
