.header {
  padding: 8px 16px;
  border-bottom: 1px solid;
  position: relative;

  @include desk {
    padding: 8px 72px;
    border-top: 1px solid;
    margin-top: 24px;
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 56px 1fr;

  @include desk {
    grid-template-columns: 1fr 68px 1fr;
  }
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-left {
  display: none;

  @include desk {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  & > li {
    @include desk {
      display: flex;
      align-items: center;
      padding-left: 12px;
      padding-right: 12px;
      cursor: pointer;
    }
  }
}

// .menu-left li:last-child {
//   color: getColor('gray-body');
// }

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include desk {
    gap: 8px;
  }
  gap: 12px;
}

.menu-right {
  display: none;

  @include desk {
    display: flex;
    gap: 12px;
  }

  & > li {
    @include desk {
      display: flex;
      align-items: center;
      padding-left: 12px;
      padding-right: 12px;
      cursor: pointer;
    }
  }
}

// li[data-desk-dropdown-btn]:hover > button {
//   pointer-events: auto;
// }

li[data-desk-dropdown-btn]:active > button {
  pointer-events: none;
}

.button-search {
  @extend .btn;
  width: 44px;
  height: 44px;
  @include desk {
    width: 32px;
    height: 32px;
    // position: absolute;
    // left: 142px;
  }
}

.button-burger {
  width: 44px;
  height: 44px;
  // margin-right: 100px;
  @include desk {
    display: none;
  }
}

.button-user {
  width: 44px;
  height: 44px;
  margin-left: 8px;
  @include desk {
    display: none;
  }
}

.icon-search {
  @include desk {
    width: 24px;
    height: 24px;
  }
}

.icon-chevrone-down {
  margin-left: 8px;
  vertical-align: text-bottom;
  pointer-events: none;
  stroke: getColor('black');
}

.icon-chevrone-down--only-header {
  transition: transform $trans-time $cubic;
}

li[data-desk-dropdown-btn].active .icon-chevrone-down--only-header {
  transform: rotate(-180deg);
}

.decorative-link--header {
  @extend .decorative-link;
  &::after {
    background-color: getColor('black');
  }
}

li.active .decorative-link--header {
  &::after {
    left: 0;
    width: 100%;
  }
}

.link-header--inactive {
  padding-bottom: 5px;
  padding-top: 5px;
}

////////////////////////////////////////////////////////
//--burger-menu styles
////////////////////////////////////////////////////////
.burger {
  @include font(500, 16px, 24px, none);
  background-color: rgba(14, 16, 18, 1);
  position: fixed;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  width: 0;
  height: 100%;
  transition: width $trans-time $cubic;

  display: grid;
  gap: 1px;
  grid-template-columns: 72px 1fr;
  grid-template-rows: 72px 1fr;
  grid-template-areas:
    'burger-header__close-btn burger__header-nav'
    'burger-main__logo burger-menu';

  & > * {
    background-color: getColor('yellow-bg');
  }

  // svg {
  //   pointer-events: all;
  // }
}

@include till_desk {
  .burger.active {
    width: 100%;
  }
}

.burger-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(14, 16, 18, 1);
}

.burger-header__close-btn {
  @extend .btn;
  pointer-events: all;
  stroke: currentColor;
  padding: 14px 16px;

  grid-area: burger-header__close-btn;
}

.burger__header-nav {
  flex: 1 1 auto;
  padding-left: 6px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-area: burger__header-nav;

  button {
    @extend .btn;
    @include font(500, 16px, 24px, none);
    color: getColor('black');
    gap: 12px;
  }
}

.burger__go-back-btn {
  svg {
    transform: rotate(90deg);
  }
}

.burger-main {
  display: flex;
  justify-content: space-between;
}

.burger-main__logo {
  position: relative;
  grid-area: burger-main__logo;
  p {
    position: absolute;
    bottom: 5px;
    left: 16px;
    @include font(700, 20px, 28px, none);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg);
  }
}

.burger-menu {
  grid-area: burger-menu;
  position: relative;
}

.burger-menu__item {
  position: relative;
  padding: 8px 16px 8px 20px;
  border-bottom: 1px solid #0e1012;

  a {
    display: block;
    width: auto;
    padding: 8px 0;
  }
}

.burger-menu-item__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;

  a {
    flex: 1 1 auto;
  }
}

.icon-chevrone--burger-menu {
  stroke: getColor('black');
  transform: rotate(-90deg);
}

.icon-search--burger-menu {
  stroke-width: 2px;
}

.icon-chevrone--catalog {
  stroke: getColor('black');
  pointer-events: all;
  transition: transform $trans-time $cubic;
  margin: 8px;
}

.burger-sub-menu {
  // animation: burgerMenuFadeOut $trans-time $cubic;
  // -webkit-animation: burgerMenuFadeOut $trans-time $cubic;

  width: 100%;
  display: none;
  position: inherit;

  transition: right $trans-time $cubic;
  -webkit-transition: right $trans-time $cubic;
  -moz-transition: right $trans-time $cubic;
  -ms-transition: right $trans-time $cubic;
  -o-transition: right $trans-time $cubic;

  & > li {
    background-color: getColor('yellow-bg');
    transition: max-height $trans-time $cubic;
    max-height: 57px;
    -webkit-transition: max-height $trans-time $cubic;
    -moz-transition: max-height $trans-time $cubic;
    -ms-transition: max-height $trans-time $cubic;
    -o-transition: max-height $trans-time $cubic;
  }

  & > li.active {
    max-height: 1000px;
  }

  & > li.active .icon-chevrone--catalog {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}

.burger-sub-menu--catalog .burger-menu-item__flex-wrapper {
  padding: 0;
}

.burger-sub-menu.activating {
  animation: burgerMenuFadeIn 0s linear;
  -webkit-animation: burgerMenuFadeIn 0s linear;

  right: -100%;
  display: block;
}

.burger-sub-menu.active {
  right: 0;
  display: block;
}

@keyframes burgerMenuFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// @keyframes burgerMenuFadeOut {
//   from {
//     opacity: 1;
//   }
//   to {
//     opacity: 0;
//   }
// }

.sub-sub-menu__list {
  overflow-y: hidden;
  display: none;

  & > li:not(:first-child) {
    margin-top: 16px;
  }
}

.burger-sub-menu-category__item.active > .sub-sub-menu__list {
  padding: 16px 8px 0 12px;
  display: block;
}

//burger-sub-menu--search styles
.burger-sub-menu--search {
  background-color: getColor('yellow-bg');
  // display: none;
}

.burger-search-form {
  padding: 16px 16px 16px 20px;
  border-bottom: 1px solid #0e1012;
  position: relative;
}

.burger-search-form-input {
  @include font(500, 16px, 24px, none);
  color: getColor('black');
  border: none;
  width: 100%;
  background-color: getColor('yellow-bg');

  &::placeholder {
    @include font(500, 16px, 24px, none);
    color: getColor('black');
  }

  &:focus {
    outline: none;
  }
}

.burger-search-form__btn {
  @extend .btn;
  position: absolute;
  top: 16px;
  right: 16px;
}

.burger-search__list {
  width: 100%;
}

.burger-search__list--desk {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 306px;
    flex: 1 1 auto;
  }
}

.burger-search__item {
  min-width: 306px;
}

.burger-search__item-wrap {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 16px;

  img {
    object-fit: cover;
    min-height: 110px;
    max-width: 80px;
    // object-fit: contain;
  }
}

.burger-search__item-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  @include font(700, 16px, 24px, none);

  p {
    font-family: $secondaryFont;
    @include font(400, 12px, 20px, none);
  }
}

.burger-not-found-notification {
  display: none;
  margin-top: 16px;
  margin-left: 20px;
  font-family: $secondaryFont;
  @include font(400, 16px, 24px, none);
}

//--desk-dropdown menu catalog--//
.header-menu-btn {
  @extend .btn;
  @include font(500, 16px, 24px, none);
  // pointer-events: none;
}

.desk-dropdown-header {
  @include till_desk {
    display: none;
  }

  background-color: getColor('white');
  border-right: 1px solid #0e1012;
  border-left: 1px solid #0e1012;
  border-bottom: 1px solid #0e1012;
  border-top: none;
  z-index: 2;
  display: flex;
  position: absolute;
  // width: 63%;
  top: 85px;
  // left: 156px;
}

.desk-dropdown-catalog {
  @extend .desk-dropdown-header;
  left: 156px;
}

.desk-dropdown-catalog-menu {
  @include font(500, 18px, 18px, none);
  padding: 24px 0;
  border-right: 1px solid #0e1012;

  li {
    padding-left: 44px;
    padding-right: 44px;
  }

  li:not(:first-child) {
    margin-top: 16px;
  }

  a {
    padding-top: 8px;
    padding-bottom: 8px;
    width: max-content;
  }
}

// .desk-dropdown-catalog-submenu--women {
//   opacity: 0;
//   transition: all $trans-time $cubic;

//   .active {
//     opacity: 1;
//   }
// }

.desk-dropdown-catalog-submenu {
  // flex: 1 1 auto;
  @include font(500, 18px, 18px, none);
  padding: 24px 32px;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  gap: 16px;
  // max-height: 232px;
  columns: 2;

  @include small-desk {
    flex-wrap: nowrap;
  }

  a {
    padding-top: 8px;
    padding-bottom: 8px;
    width: max-content;
  }

  li {
    margin-bottom: 16px;
  }
}

//--dropdown menu services--//
.desk-dropdown-services {
  @extend .desk-dropdown-header;
  @extend .desk-dropdown-catalog-menu;
  width: max-content;
  display: block;
  right: 16px;
  // left: none;
}

//--dropdown menu account--//
.desk-dropdown-account {
  @extend .desk-dropdown-header;
  @extend .desk-dropdown-catalog-menu;
  width: max-content;
  display: block;
  right: 15px;
}

//--dropdown menu search--//
.desk-dropdown-search {
  @include till_desk {
    display: none;
  }
  overflow: hidden;
  border-bottom: 1px solid #0e1012;
  background-color: getColor('white');
  // background-color: forestgreen;
  padding: 40px 72px;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 85px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;

  & > p {
    display: none;
    font-family: $secondaryFont;
    @include font(400, 16px, 24px, none);
  }
}

.desk-search__form {
  display: flex;
  justify-content: space-between;
  border: 1px solid #0e1012;
}

.desk-search__input {
  padding: 21px 0 21px 16px;
  flex: 1 1 auto;
  border: none;
  @include font(500, 18px, 18px, none);
}

.desk-search__btn {
  @extend .btn;
  width: 60px;
  border-left: 1px solid #0e1012;
}

.desk-search__icon-close {
  stroke: currentColor;
}

.desk-search__show-more-btn {
  @extend .btn;
  @include font(500, 16px, 16px, none);
  align-self: flex-start;
  gap: 12px;
  padding: 10px 16px;

  & > svg {
    stroke: currentColor;
  }
}
