<footer class="footer container">
  <div class="wrapper">
    <div class="footer-logo">
      <img src="./img/logo.png" class="footer-logo__img" />
    </div>
    <div class="footer-icons">
      <ul class="footer-icons__list">
        <li class="footer-icons__item">
          <a href="#">
            <div class="footer-icons__wrap">
              <svg class="footer-icon__instagram" width="32" height="32">
                <use
                  href="./img/icons/symbol-defs-optimized.svg#icon-instagram"
                ></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="footer-icons__item">
          <a href="#">
            <div class="footer-icons__wrap">
              <svg class="footer-icon__telegram" width="32" height="32">
                <use
                  href="./img/icons/symbol-defs-optimized.svg#icon-telegram"
                ></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="footer-icons__item">
          <a href="#">
            <div class="footer-icons__wrap">
              <svg class="footer-icon__facebook" width="32" height="32">
                <use
                  href="./img/icons/symbol-defs-optimized.svg#icon-facebook"
                ></use>
              </svg>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="newdrop">
      <ul class="newdrop-list">
        <li class="newdrop-list__item"><a href="#">NEW DROP</a></li>
        <li class="newdrop-list__item"><a href="#">Знижки</a></li>
        <li class="newdrop-list__item"><a href="#">Аукціон(soon)</a></li>
      </ul>
    </div>
    <div class="assortment">
      <ul class="assortment-list">
        <li class="assortment-list__item"><a href="#">Жіноче</a></li>
        <li class="assortment-list__item"><a href="#">Чоловіче</a></li>
        <li class="assortment-list__item"><a href="#">Дитяче</a></li>
        <li class="assortment-list__item"><a href="#">Сумки</a></li>
        <li class="assortment-list__item"><a href="#">Аксесуари</a></li>
        <li class="assortment-list__item"><a href="#">Ювелірні вироби</a></li>
        <li class="assortment-list__item"><a href="#">Купувати все</a></li>
      </ul>
    </div>
    <div class="about">
      <ul class="about-list">
        <li class="about-list__item"><a href="#">Про нас</a></li>
        <li class="about-list__item"><a href="#">Контакти</a></li>
        <li class="about-list__item"><a href="#">Оплата</a></li>
        <li class="about-list__item"><a href="#">Доставка</a></li>
        <li class="about-list__item"><a href="#">Повернення</a></li>
        <li class="about-list__item">
          <a href="#">Договір публічної оферти</a>
        </li>
        <li class="about-list__item"><a href="#">Питання та відповіді</a></li>
      </ul>
    </div>
    <div class="support">
      <ul class="support-list">
        <li class="support-list__item">Copyright © 2022 Smart Price</li>
        <li class="support-list__item">
          <a class="support-list__mail" href="mailto:support@sstore.in.ua"
            >support@sstore.in.ua</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
