// Вёрстка адаптивная, точки перелома  768px, 1280px.
// .container {
//   margin-left: auto;
//   margin-right: auto;
//   width: $minWidthContainer;

//   @include desk {
//     width: $maxWidthContainer + px;
//   }
// }

.responsive-container {
  margin: 0 auto;
  min-width: $minWidthContainer;

  @include desk {
    //max-width: $maxWidthContainer;
    // min-width: 1000px;
  }
}

.btn {
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-input {
  padding: 12px 24px;
  border: 1px solid #0e1012;
  @include font(400, 16px, 24px, null);
}

.form-input--success {
  border-color: getColor('green');
}

.form-input--failure {
  border-color: getColor('red');
}

.decorative-link {
  // text-transform: uppercase;
  cursor: pointer;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    height: 2px;
    background-color: #fff;
    bottom: 0;
    // left: 0;
    left: 50%;
    width: 0;
    transition: all 0.3s;
  }

  &:hover::after {
    left: 0;
    width: 100%;
  }
}

hr {
  width: 100%;
}

.section--padding {
  padding: 0px 16px;
  @include desk {
    padding: 0px 72px;
  }
}

//for making active all the card where the link is present inside, parent of the link must have position:relative

.card--styled::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  transition: all $trans-time $cubic;
  // outline: none;
}

//for adding outline for the card, but previously we delete native outline. Fot this we style the link, which is inside the card, because link::before wrapes all the card
.card--styled:hover {
  outline: none;
}

.card--styled:hover::before {
  outline: 3px solid deepskyblue;
  outline-offset: -3px;
}
