.container {
  // Вёрстка адаптивная, точки перелома  768px, 1280px.
  width: $minWidth;

  @include desk {
    width: $maxWidth;
  }
}

.btn {
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
