// Вёрстка адаптивная, точки перелома  768px, 1280px.
.container {
  margin-left: auto;
  margin-right: auto;
  width: $minWidth;

  @include desk {
    width: $maxWidth;
  }
}

.btn {
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// .btn--success {
//   opacity: 1;
// }

.form-input {
  padding: 12px 24px;
  border: 1px solid #0e1012;
  @include font(400, 16px, 24px, null);
}

.form-input--success {
  border-color: getColor('green');
}

.form-input--failure {
  border-color: getColor('red');
}

.decorative-link {
  // text-transform: uppercase;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    height: 2px;
    background-color: #fff;
    bottom: 0;
    // left: 0;
    left: 50%;
    width: 0;
    transition: all 0.3s;
  }

  &:hover::after {
    left: 0;
    width: 100%;
  }
}
