<section class="product-card responsive-container">
  <div class="bread-crumbs">
    <p class="bread-crumbs__desktop-text">Головна</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="bread-crumbs__desktop-text">Каталог</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="bread-crumbs__desktop-text">Жінкам</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <svg class="arrow-left" width="24" height="24">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-left"></use>
    </svg>
    <p class="">Сукні</p>
    <svg class="arrow-right" width="16" height="16">
      <use href="./img/icons/symbol-defs-optimized.svg#icon-arrow-right"></use>
    </svg>
    <p class="bread-crumbs__desktop-text">Сукня Topshop</p>
  </div>
  <div class="item">
    <!-- Slider-->
    <div class="image-slider__wrapper">
      <div class="image-slider swiper">
        <!-- Additional required wrapper -->
        <div class="image-slide__wrapper swiper-wrapper">
          <!-- Slides -->
          <div class="image-slider__slide swiper-slide">
            <div class="swiper-zoom-container">
              <img src="./img/photo_1.jpg" alt="" />
            </div>
          </div>
          <div class="image-slider__slide swiper-slide">
            <div class="swiper-zoom-container">
              <img src="./img/photo_2.jpg" alt="" />
            </div>
          </div>
          <div class="image-slider__slide swiper-slide">
            <div class="swiper-zoom-container">
              <img src="./img/photo_3.jpg" alt="" />
            </div>
          </div>
        </div>
        <!-- If we need pagination -->

        <!-- If we need navigation buttons -->

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="swiper-pagination-custom"></div>
    </div>
    <button type="button" class="item__buy-btn">Придбати</button>
    <div class="item__info">
      <h4>Сукня Topshop</h4>
      <div class="item__info-description">
        <p>Розмір: <span>XXS</span></p>
        <p>Плечі: <span>45</span></p>
        <p>Плечі: <span>45</span></p>
        <p>Груди: <span>104</span></p>
        <p>Довжина: <span>47</span></p>
        <p>Довжина рукава: <span>62</span></p>
        <p>Склад: <span>50% бавовна, 50% акрил</span></p>
        <span>Потребує чищення</span>
      </div>
      <div class="item__info-city">
        Доставка з: <span>м. Кропивницький</span>
      </div>
      <div class="item__info-price">
        <span class="old-price">200 грн.</span>
        <span class="new-price">255 грн.</span>
      </div>
      <div class="item__info-price">
        <span>255 грн.</span>
      </div>
    </div>
    <div id="item-details" class="item__details">
      <!-- <div class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          СКЛАД ТА ДЕТАЛІ РОЗМІРУ
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu">
          <li>
            <p>Груди:</p>
            <span>108</span>
          </li>
          <li>
            <p>Довжина:</p>
            <span>92</span>
          </li>
          <li>
            <p>Довжина рукава:</p>
            <span>28</span>
          </li>
          <li>
            <p>Склад:</p>
            <span>100% бавовна</span>
          </li>
        </ul>
      </div> -->
      <div class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          <p>ОПЛАТА</p>
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu item__details-menu--second">
          <li>
            <p>
              Сплата кожного замовлення здійснюється індивідуально за кожен
              товар.
            </p>
          </li>
          <li>
            <p>
              Сплата відбувається в реальному часі у момент бронювання товару.
            </p>
          </li>
          <li>
            <p>
              Сплата відбувається за допомогою платіжної системи
              <span>LiqPay</span> для банківських карт <span>Visa</span> та
              <span>MasterCard</span>.
            </p>
          </li>
        </ul>
      </div>
      <div class="item__details-wrap" data-dropdown>
        <button type="button" class="item__btn" data-dropdown-btn>
          ДОСТАВКА
          <svg class="icon-plus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-plus"></use>
          </svg>
          <svg class="icon-minus" width="24" height="24">
            <use href="./img/icons/symbol-defs-optimized.svg#icon-minus"></use>
          </svg>
        </button>
        <ul class="item__details-menu">
          <li>
            <p>
              Ми здійснюємо доставку товару кур’єрською службою «Нова Пошта».
            </p>
          </li>
          <li>
            <p>
              Всі відправлення відбуваються кожного понеділка та четверга.
              Замовлення зроблені з понеділка по середу – відправлення у четвер.
              Замовлення зроблені з четверга по неділю – відправлення у
              понеділок.
            </p>
          </li>
          <li>
            <p>Вартість послуг кур’єрською службою сплачує Покупець.</p>
          </li>
          <li>
            <p>
              При сумі замовлення від 500 грн., вартість послуг кур’єрською
              службою сплачує Продавець, за умови, що замовлені товари з одного
              міста, а замовлення зроблене в період між днями відправлення; - за
              умови відправки з відділення у відділення, або з відділення у
              почтомат.
            </p>
          </li>
          <li>
            <p>
              Оціночна вартість посилок – мінімальна, згідно тарифів кур’єрської
              служби «Нова Пошта» на день відправлення. Оціночну вартість
              посилки можливо змінити за бажанням Покупця – залишивши коментар
              на сайті, або через запит до онлайн консультанта у Телеграмі.
              Пакування здійснюється згідно з правил кур’єрської служби «Нова
              Пошта».
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="gallery-thumb gallery-thumb--product-card-section">
    <h4>Може зацікавити</h4>
    <ul class="gallery-list">
      <li class="gallery-item">
        <div class="gallery-item-label">NEW DROP</div>
        <div class="gallery-item__img-wrap">
          <img src="./img/photo_1.jpg" alt="" />
        </div>
        <h5>Кардиган PRETTYLITTLETHING</h5>
        <p>Доставка з м. Кропивницький</p>
        <div class="gallery-item__span-price">
          <span>275 грн.</span>
        </div>

        <div class="gallery-item-button-thumb">
          <button type="button">Придбати</button>
          <button type="button">Деталі</button>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-item__img-wrap">
          <img src="./img/photo_2.jpg" alt="" />
        </div>
        <h5>Каблучка</h5>
        <p>Доставка з м. Кропивницький</p>
        <div class="gallery-item__span-price">
          <span class="old-price">200 грн.</span>
          <span class="new-price">275 грн.</span>
        </div>

        <div class="gallery-item-button-thumb">
          <button type="button">Придбати</button>
          <button type="button">Деталі</button>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-item__img-wrap">
          <img src="./img/photo_3.jpg" alt="" />
        </div>
        <h5>Брошка</h5>
        <p>Доставка з м. Кропивницький</p>
        <div class="gallery-item__span-price">
          <span>275 грн.</span>
        </div>
        <div class="gallery-item-button-thumb">
          <button type="button">Придбати</button>
          <button type="button">Деталі</button>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-item-label">NEW DROP</div>
        <div class="gallery-item__img-wrap">
          <img src="./img/photo_4.jpg" alt="" />
        </div>
        <h5>Кардиган PRETTYLITTLETHING</h5>
        <p>Доставка з м. Кропивницький</p>
        <div class="gallery-item__span-price">
          <span>275 грн.</span>
        </div>
        <div class="gallery-item-button-thumb">
          <button type="button">Придбати</button>
          <button type="button">Деталі</button>
        </div>
      </li>
    </ul>
  </div>
</section>
