.modal-overlay {
  width: 100%;
  z-index: 998;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 254, 244, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity $trans-time $cubic, visibility $trans-time $cubic, background-color $trans-time $cubic;
}

.modal {
  z-index: 999;
  position: absolute;
  // min-width: 343px;
  width: 90%;
  min-height: 256px;
  min-width: 343px;
  height: auto;
  background: rgba(255, 255, 255, 1);
  padding: 36px;
  border: 1px solid rgba(14, 16, 18, 1);
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  // box-shadow: 0 28px 42px rgba(0, 0, 0, 0.38), 0 20px 20px rgba(0, 0, 0, 0.33);

  transition: transform 600ms $cubic, opacity 600ms $cubic, visibility 800ms $cubic, box-shadow 600ms $cubic;

  @include desk {
    width: 416px;

    min-height: 232px;
  }

  h4 {
    @include font(700, 24px, 32px, none);
    margin-bottom: 16px;
  }

  p {
    font-family: $secondaryFont;
    @include font(400, 16px, 24px, none);
    margin-bottom: 28px;
  }
}

.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.modal-btn {
  @extend .btn;
  @include font(500, 16px, 16px, none);
  padding: 10px;
  border: 1px solid getColor('gray-border');
  width: 100%;
  transition: all $trans-time $cubic;

  @include desk {
    width: auto;
    display: inline-block;
    // margin-right: 16px;
  }

  &:hover,
  &:focus {
    border: 1px solid getColor('black');
  }
}

.modal_close-btn--product-card {
  border: 1px solid rgba(225, 228, 232, 1);
  background: inherit;
  width: auto;
  color: rgba(14, 16, 18, 1);
  @include font(500, 16px, 16px, none);
  transition: all $cubic $trans-time;

  &:hover {
    border: 1px solid black;
    background-color: inherit;
  }
}
